<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mclass.store.tripant.admin.model.repository.AdminDao">
	<select id="selectMemList" resultType="AdminMemEntity" >
	select mem_nick,mem_email,mem_join_date,mem_role from member
	</select>
	<update id="adminMemRole" parameterType="_int">
	<!-- parametertype string으로-->
	<!-- update 구문 넣기 -->
	<!-- update member set mem_role= #{memRole} where=${memEmail} -->
	update member set mem_role= #{memRole} 
	</update>
	<select id="boardList" resultType="AdminBoardEntity">
	select diary_mem_email, diary_title,diary_date,diary_views from diary
	</select>
</mapper>