<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mclass.store.tripant.admin.model.repository.AdminDao">
	<select id="selectMemList" resultType="AdminMemEntity" >
	select mem_nick,mem_email,mem_join_date,mem_role from member
	</select>
	<update id="adminMemRole" parameterType="map">
	update member set mem_role=#{memRole} where mem_email=#{memEmail}
	</update>
	<select id="boardList" resultType="AdminBoardEntity">
	select diary_id, diary_mem_email, diary_title,diary_date,diary_views from diary
	</select>
	<!-- <select id="" resultType="int">
	select count(*) from diary
	</select> -->
</mapper>