@charset "UTF-8";

.wrap-main {
	width: 960px;
	margin: 120px auto;
}

.wrap-main * {
	font-family: 'GangwonEdu_OTFBoldA';
}

.wrap-main a {
	padding-top: 5px;
}

.wrap-main .ch {
	width: 100%;
	margin-bottom: 35px;
}

.wrap-main .btn {
	cursor: pointer;
	border-radius: 8px;
	border: 0;
	width: 100%;
	padding: 5px 10px;
	background-color: lightgrey;
	font-size: var(--font4);
}

.wrap-main .flex {
	display: flex;
	align-items: center;
}

.wrap-main .flex.mypage {
	width: 200px;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	padding: 30px 20px;
	border-radius: 10px;
}

.wrap-main .title {
	font-size: var(--font1);
	margin-bottom: 20px;
}

.wrap-main .myInfo.flex {
	column-gap: 10px;
	margin-bottom: 20px;
}

.wrap-main .myInfo.nick.flex{
	margin-bottom: 60px;
}

.wrap-main .unlink.flex {
	column-gap: 10px;
	margin-bottom: 20px;
}

.wrap-main a {
	color: #7e7e7e;
	font-size: var(--font5);
}