@charset "UTF-8";

.wrap-main {
	width: 960px;
	margin: 30px auto 30px auto;
}

.wrap-main * {
	font-family: 'Binggrae';
}

.wrap-main .ch {
	width: 100%;
	margin-bottom: 35px;
}

.wrap-main .ch.pwd{
	margin-bottom: 80px;
}

.wrap-main .btn {
	cursor: pointer;
	border-radius: 8px;
	border: 0;
	width: 100%;
	padding: 5px 10px;
	background-color: black;
	color: white;
	font-size: var(--font4);
}

.wrap-main .flex {
	display: flex;
	align-items: center;
}

.wrap-main .flex.mypage {
	width: 280px;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	padding: 30px 20px;
	border-radius: 10px;
	background-color: var(--color_light_gray);
}

.wrap-main .title {
	font-size: var(--font1);
	margin-bottom: 50px;
}

.wrap-main .myInfo.flex {
	margin-bottom: 20px;
	text-align: center;
}

.wrap-main .myInfo.flex *{
	font-size: var(--font4);
}

.wrap-main .myInfo.flex .myInfo{
	width: 80px;
}

.wrap-main .myInfo.nick.flex{
	margin-bottom: 80px;
}

.wrap-main input{
	border: 0;
	background-color: var(--color_light_gray);
}

.wrap-main input:focus{
	outline: none;
}

.wrap-main .unlink.flex {
	column-gap: 10px;
	margin-bottom: 20px;
}

.wrap-main a {
	color: #7e7e7e;
	font-size: var(--font5);
}