<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ee1c53ff7e4c7508a382a4c4e7af76e8"></script>
<link rel="stylesheet" th:href="@{/css/plan/make/make_layout.css}">
<link rel="stylesheet" th:href="@{/css/plan/make/make_day_modal.css}">
<link rel="stylesheet" th:href="@{/css/plan/make/make_items.css}">
<head th:replace="~{common/header :: head('일정만들기')}">
</head>
<script th:src="@{/js/plan/plan_make.js}"></script>
<body>

	<div class="modal">
		<div class="modal_popup">
			<div>
				<h2>여행 기간이 어떻게 되시나요?</h2>
				<h4>여행 일자는 최대 10일 까지 설정 가능합니다</h4>
				<div class="wrap-calendar">
					<div class="modal-left"></div>

					<div class="modal-right"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="main-wrapper">

		<aside class="nav-wrapper flex">
			<nav class="nav flex">
				<a th:href="@{/}"><img class="logo"
					src="/images/tripant_logo_text.png"></a>
				<button type="button" class="day btn">
					step 01<br>날짜확인
				</button>
				<button type="button" class="spot btn">
					step 02<br>장소선택
				</button>
				<button type="button" class="stay btn">
					step 03<br>숙소설정
				</button>
			</nav>
			<div class="plan_next flex">
				<button type="button" class="next btn" disabled='disabled'>다음</button>
			</div>
		</aside>
		<div class="schedule-wrapper flex">
			<div class="plan-info flex">
				<div class="plan-title">개미와 함꼐 떠나는 신나는 제주여행</div>
				<span class="plan-location">제주</span> <span class="plan-priod">2024.06.01~2024.06.02</span>
				<div th:text="${areaName}">기본 메시지</div>
				<div th:text="${planTitle}">기본 메시지</div>
			</div>

			<div class="list-box flex"></div>
		</div>

		<div class="list-box-check flex"></div>

		<div class="map-wrapper">
			<div id="map"></div>
		</div>
	</div>
	<script th:src="@{/js/plan/plan_map.js}"></script>
</body>
</html>