<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="wrap-stayList flex" th:fragment="wrapstaylist">
	<th:block th:if="${stayList} != null">
		<th:block th:each="stay, stayStat : ${stayList}">
			<div class="stay-box flex">
				<img class="stay-img" th:src="${stay.firstimage}" alt="장소이미지">
				<div class="stay-txt">
					<span class="stay-name" th:text="${stay.title}"></span> 
					<span class="stay-address" th:text="${stay.add1}"></span>
					<span class="stay-x" th:value="${stay.mapx}" style ="display:none"></span> 
					<span class="stay-y" th:value="${stay.mapy}" style ="display:none"></span> 
				</div>
				<input type="checkbox" th:data-stayid="${stay.contentid}"
					th:id="|stay-check-${stayStat.index}|"
					onclick="stayCkBtnClickHandler(this);"> 
				<label th:for="|stay-check-${stayStat.index}|"></label>
			</div>
		</th:block>
		<div class="resultStayCheck">
			<button type="button" onclick="stayMoreBtnClickHandler(this);" class="stay_more_btn">더보기</button>
		</div>
	</th:block>
</div>
</html>