<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul th:fragment="time-table">
	<li>
		<div class="time-h"><h5>일자</h5></div>
		<div class="time-h"><h5>요일</h5></div>
		<div class="time-h"><h5>시작 시각</h5></div>
		<div class="time-h"><h5>종료 시각</h5></div>
	</li>
	<li th:each="item, userStat : ${days}">
		<div><h5>${item.date}</h5></div>
		<div><h5>${item.day}</h5></div>
		<div><input type="time" class="timeRange" id="start-${userStat.index}"></div>
		<div><input type="time" class="timeRange" id="end-${userStat.index}"></div>
	</li>
</ul>
</body>
</html>