<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mclass.store.tripant.plan.model.repostiory.PlanRepository">
	<select id="selectPlanCount" resultType="_int">
		SELECT COUNT(*) FROM
		PLAN
	</select>

	<select id="selectMemCount" resultType="_int">
		SELECT COUNT(*) FROM
		MEMBER
	</select>

	<select id="selectAreaNameList" resultType="AreaNameEntity">
		SELECT AREA_CODE, AREA_NAME, AREA_SHORT_NAME, AREA_ENG_NAME, AREA_FILE_NAME
		FROM AREA
	</select>

	<select id="selectAreaFindList" parameterType="string" resultType="AreaNameEntity">
		SELECT AREA_CODE, AREA_NAME,AREA_SHORT_NAME,AREA_ENG_NAME,AREA_FILE_NAME 
		FROM AREA 
		WHERE AREA_NAME LIKE '%'||#{findArea}||'%'
	</select>
</mapper>