<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="mclass.store.tripant.plan.model.repostiory.TimeRepository">
	<delete id="deleteAllPlaceMoveTime">
		TRUNCATE TABLE PLACE_MOVE_TIME
	</delete>

	<select id="selectAreaCodeList" parameterType="_int"
		resultType="PlaceAreaEntity">
		SELECT TYPE, CONTENTID, MAPX, MAPY,AREACODE FROM PLACE WHERE
		AREACODE=#{AREACODE} ORDER BY CONTENTID
	</select>
</mapper>