<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mclass.store.tripant.plan.model.repostiory.TimeRepository">
	<delete id="deleteAllPlaceMoveTime">
		TRUNCATE TABLE PLACE_MOVE_TIME
	</delete>

	<select id="selectPlaceMapList" parameterType="_int" resultType="PlaceMapEntity">
		SELECT TYPE, CONTENTID, MAPX, MAPY FROM PLACE WHERE AREACODE=#{areacode} ORDER BY CONTENTID 
	</select>
	
</mapper>