<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> 여행기 게시판 </title>    
    <link href="../.../css/diary/diaryboard.css" rel="stylesheet" />
</head>
<body>
   <div class="tags">
    <span class="tag"> 전체</span>
    <span class="tag"> 서울</span>
    <span class="tag"> 부산</span>
    <span class="tag"> 대구</span>
    <span class="tag"> 인천</span>
    <span class="tag"> 광주</span>
    <span class="tag"> 대전</span>
    <span class="tag"> 울산</span>
    <span class="tag"> 세종</span>
    <span class="tag"> 경기</span>
    <span class="tag"> 강원</span>
    <span class="tag"> 충북</span>
    <span class="tag"> 충남</span>
    <span class="tag"> 전북</span>
    <span class="tag"> 전남</span>
    <span class="tag"> 경북</span>
    <span class="tag"> 경남</span>
    <span class="tag"> 제주</span>
   </div>
   <div class="D-select">
    <select><option value="latest">최신순</option>
    <option value="popularity">인기순</option>
</select>
</div>

<span><strong> 하트가 많이 눌린 개미들의 인기 여행지를 소개합니다.</strong></span>
<div class="board-list">
<table>
    <tr>
        <td> <img src="https://dummyimage.com/80x80/000/fff"></td>
        <td> 제주 여행</td>
        <td> yyyy-mm-dd</td>
        <td> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td>하트 누르기 표시</td>
    </tr>
    <tr>
        <td> <img src="https://dummyimage.com/80x80/000/fff"></td>
        <td> 제주 여행</td>
        <td> yyyy-mm-dd</td>
        <td> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td>하트 누르기 표시</td>
    </tr>
    <tr>
        <td> <img src="https://dummyimage.com/80x80/000/fff"></td>
        <td> 제주 여행</td>
        <td> yyyy-mm-dd</td>
        <td> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td>하트 누르기 표시</td>
    </tr>
    <tr>
        <td> <img src="https://dummyimage.com/80x80/000/fff"></td>
        <td> 제주 여행</td>
        <td> yyyy-mm-dd</td>
        <td> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td>하트 누르기 표시</td>
    </tr>
    <tr>
        <td> <img src="https://dummyimage.com/80x80/000/fff"></td>
        <td> 제주 여행</td>
        <td> yyyy-mm-dd</td>
        <td> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td>하트 누르기 표시</td>
    </tr>
    <tr>
        <td> <img src="https://dummyimage.com/80x80/000/fff"></td>
        <td> 제주 여행</td>
        <td> yyyy-mm-dd</td>
        <td> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td>하트 누르기 표시</td>
    </tr>
    <tr>
        <td> <img src="https://dummyimage.com/80x80/000/fff"></td>
        <td> 제주 여행</td>
        <td> yyyy-mm-dd</td>
        <td> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td>하트 누르기 표시</td>
    </tr>
    <tr>
        <td> <img src="https://dummyimage.com/80x80/000/fff"></td>
        <td> 제주 여행</td>
        <td> yyyy-mm-dd</td>
        <td> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td>하트 누르기 표시</td>
    </tr>
    

</table>
</div>
<div> <button value="더보기"></button></div>
</body>
</html>