<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> My BOARD </title>
<style>
.containor{
    display:grid;
    align-items: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px 20px;
}
.item{
   
}
</style>
</head>

<body>
    
    <h1> 나의 여행기 </h1>
    <br>
 <div class="containor">
   <div>
        <div class="item"><img src="https://dummyimage.com/80x80/000/fff"></div>
        <div class="item">제주 여행</div>
        <div class="item">날짜</div>
        
    </div>
    <div>
        <div class="item"><img src="https://dummyimage.com/80x80/000/fff"></div>
        <div class="item">제주 여행</div>
        <div class="item">날짜</div>
       
    </div>
    <div>
        <div class="item"><img src="https://dummyimage.com/80x80/000/fff"></div>
        <div class="item">제주 여행</div>
        <div class="item">날짜</div>
       
    </div>
    <div>
        <div class="item"><img src="https://dummyimage.com/80x80/000/fff"></div>
        <div class="item">제주 여행</div>
        <div class="item">날짜</div>
    
    </div>
   <div>
        <div class="item"><img src="https://dummyimage.com/80x80/000/fff"></div>
        <div class="item">제주 여행</div>
        <div class="item">날짜</div>
        
    </div>
    <div>
        <div class="item"><img src="https://dummyimage.com/80x80/000/fff"></div>
        <div class="item">제주 여행</div>
        <div class="item">날짜</div>
       
    </div>
    <div>
        <div class="item"><img src="https://dummyimage.com/80x80/000/fff"></div>
        <div class="item">제주 여행</div>
        <div class="item">날짜</div>
       
    </div>
    <div>
        <div class="item"><img src="https://dummyimage.com/80x80/000/fff"></div>
        <div class="item">제주 여행</div>
        <div class="item">날짜</div>
    
    </div>

 <div> 더보기</div>
    
 </div>
</body>

</html>