<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <script type="text/javascript">
    /* 클릭 범위 넓혀서 글 들어가기*/
    $(document).ready(function() {
        $(".wrap-d-content").click(function() {
            var diaryId = $(this).data("diaryid");
            window.location.href = contextPath + 'diary/read/' + diaryId;
        });
    });
 
    </script>
    
<body>
	<div class="wrap-diary"  th:fragment="diaryitemlist"> 
		<th:block th:if="${diaries} == null or ${#lists.size(diaries) ==0 }">
		 	<script >
				$(".diary_more_btn").hide();
			//	var imageSrc = contextPath + "images/diary/nodiary.png";
				var nodiary = '<div style="font-size:var(--font1); height: 250px; align-content: center; color: var(--color_gray);">글이 없습니다.</div>';
				$(".wrap-diary").html(nodiary);
				console.log(".diary_more_btn hide");
			</script>
		</th:block>
		<!-- 공개글 데이터 가져오기  -->
		
		<th:block th:if="${diaries} != null and ${#lists.size(diaries) != 0 }">
		<script >
				$(".diary_more_btn").show();
				console.log(".diary_more_btn show");
				
			</script> 
			<th:block th:each="diary :  ${diaries}">
				<div class="wrap-d-content" id="click-diary" th:data-diaryid="${diary.diaryId}">
					<div class="diary-img">
					<th:block th:if="${diary.diaryImage != null}">
						<img th:src="${diary.diaryImage}" alt="대표 이미지" class="title-img" >
					</th:block>
					<th:block th:if="${diary.diaryImage == null}">
						<img th:src="@{/images/diary/diary_empty_image.png}" alt="대표 이미지" class="title-img">
					</th:block>
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<div style="flex-grow: 9">
								<!-- a 태그 대신 연결하는 방법 -->
								<div th:with="url=@{'/diary/read/' + ${diary.diaryId}}">
									<p class="diary-title" style="font-size: var(--font3);">
										<a th:href="${url}" th:text="${diary.diaryTitle}"></a>
									</p>
								</div>
								<div class="diary-date_nickname">
									<p class="diary-nickname" style="font-size: var(--font5);"
										th:text="${diary.memNick}"></p>
									<p class="diary-date" style="font-size: var(--font4);"
										th:text="${diary.diaryDate}"></p>
								</div>
							</div>
							<div class="diary-like" style="flex-grow: 1">
								<th:block th:if="${diary.isMyLikes} == 0">
								<img th:src="@{/images/diary/diary_like_none.png}"
									 class="like-icon" th:onclick="|btnLikeClickHandler(this,${diary.diaryId});|">
								</th:block>
								<th:block th:if="${diary.isMyLikes} == 1">
								<img th:src="@{/images/diary/diary_like_icon.png}"
									 class="like-icon" th:onclick="|btnLikeClickHandler(this,${diary.diaryId});|">
								</th:block>
							</div>
						</div>
						<div>
							<p class="diary-preview"  
								th:utext="${diary.diaryPreview}"></p>
						</div>
						<div class="diary-views">
							<p style="font-size: var(--font6);" class="views-t">view</p>
							<p style="font-size: var(--font6);"	class="diary-diaryViews" th:text="${diary.diaryViews}"></p>
						</div>
					</div>
				</div>
			<div class="empty diary" th:if="${diaris} != null"> 글이 없습니다. </div>
			</th:block>
		 </th:block>
			
	</div>

</body>
</html>