<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/diary/diaryboard.css}" rel="stylesheet">
<head th:replace="~{common/header :: head('diaryboard')}">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>

<body>
	<header>
		<div class="header" th:insert="~{common/header :: wrap-header}"></div>
	</header>
	<section>
		<!-- 버튼 클릭 이벤트로 지역 태그 클릭 시 이동 시키기 -->
		<div class="diary-wrap-main">
			<div class="board-search-inner">
				<div class="tags">
					<span class="tag"><a href="#">전체</a></span> <span class="tag">
						<a href="#">서울</a>
					</span> <span class="tag"><a href="#"> 부산</a></span> <span class="tag"><a
						href="#"> 대구</a></span> <span class="tag"><a href="#"> 인천</a></span> <span
						class="tag"><a href="#"> 광주</a></span> <span class="tag"> <a
						href="#">대전</a></span> <span class="tag"><a href="#"> 울산</a></span> <span
						class="tag"><a href="#"> 세종</a></span> <span class="tag"><a
						href="#"> 경기</a></span> <span class="tag"><a href="#"> 강원</a></span> <span
						class="tag"> <a href="#">충북</a></span> <span class="tag"><a
						href="#"> 충남</a></span> <span class="tag"><a href="#"> 전북</a></span> <span
						class="tag"><a href="#"> 전남</a></span> <span class="tag"> <a
						href="#">경북</a></span> <span class="tag"><a href="#"> 경남</a></span> <span
						class="tag"><a href="#"> 제주</a></span>
				</div>
				<!-- 순서 옵션 -->
				<div class="d-select">
					<select><option value="latest">최신순</option>
						<option value="popularity">인기순</option>
					</select>
				</div>

				<!-- 소개 문구 -->
				<div class="diary-introduction">
					<span><strong> 하트가 많이 눌린 개미들의 인기 여행지를 소개합니다.</strong></span>
				</div>
			</div>
			<!-- 글 리스트 7개씩 하고 for문으로 더보기 하기 -->
			<div class="board-list">
				<div class="wrap-diary">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">제주 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="로고">
						</div>
					</div>
				</div>
				<div class="board-list">
					<div class="wrap-diary">
						<div class="diary-img">
							<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
						</div>
						<div class="wrap-content">
							<div class="diary-content">
								<p class="diary-title">제주 여행</p>
								<p class="diary-date">yyyy-mm-dd</p>
								<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
									미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
							</div>

							<div class="diary-like">
								<img th:src="@{/images/diary/diary_like_none.png}" alt="로고">
							</div>
							<div id="like" class="diary-icons">favorite</div>
							</button>
						</div>
					</div>
					<div class="board-list">
						<div class="wrap-diary">
							<div class="diary-img">
								<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
							</div>
							<div class="wrap-content">
								<div class="diary-content">

									<p class="diary-title">제주 여행</p>
									<p class="diary-date">yyyy-mm-dd</p>
									<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
										미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
								</div>
								<div class="diary-like">
									<img th:src="@{/images/diary/diary_like_none.png}" alt="로고">
								</div>
							</div>
						</div>
						<div class="board-list">
							<div class="wrap-diary">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">제주 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="로고">
									</div>
								</div>
							</div>
							<div class="board-list">
								<div class="wrap-diary">
									<div class="diary-img">
										<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
									</div>
									<div class="wrap-content">
										<div class="diary-content">
											<p class="diary-title">제주 여행</p>
											<p class="diary-date">yyyy-mm-dd</p>
											<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
												미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
										</div>
										<div class="diary-like">
											<img th:src="@{/images/diary/diary_like_none.png}" alt="로고">
										</div>
									</div>
								</div>
								<div class="board-list">
									<div class="wrap-diary">
										<div class="diary-img">
											<img src="https://dummyimage.com/350x200/000/fff"
												alt="대표 이미지">
										</div>
										<div class="wrap-content">
											<div class="diary-content">
												<p class="diary-title">제주 여행</p>
												<p class="diary-date">yyyy-mm-dd</p>
												<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글
													미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
											</div>
											<div class="diary-like">
												<img th:src="@{/images/diary/diary_like_none.png}" alt="로고">
											</div>
										</div>
									</div>
									<div class="board-list">
										<div class="wrap-diary">
											<div class="diary-img">
												<img src="https://dummyimage.com/350x200/000/fff"
													alt="대표 이미지">
											</div>
											<div class="wrap-content">
												<div class="diary-content">
													<p class="diary-title">제주 여행</p>
													<p class="diary-date">yyyy-mm-dd</p>
													<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글
														미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
												</div>
												<div class="diary-like">
													<img th:src="@{/images/diary/diary_like_none.png}" alt="로고">
												</div>
											</div>
										</div>

										<div class="btn-more">
											<button type="button" class="learn-more">더보기</button>
										</div>
									</div>
								</div>
	</section>
	<footer>
		<div class="footer" th:insert="~{common/footer :: wrap-footer}"></div>
	</footer>
</body>


</html>