<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/diary/diary_board.css}" rel="stylesheet">
<link th:href="@{/css/diary/diary_aside.css}" rel="stylesheet">
<!--board.js파일  -->
<!--  <script type="text/javascript" th:src="@{/js/diary/diary_board.js}"></script> -->

<head th:replace="~{common/header :: head('diaryboard')}"></head>
<body>
	<header>
		<div class="header" th:insert="~{common/header :: wrap-header}"></div>
	</header>
	<!-- <aside th:insert="~{common/diary_aside :: wrap-diary-aside}"></aside> -->
	<section>
		<!-- 버튼 클릭 이벤트로 지역 태그 클릭 시 이동 시키기 -->
		<div class="diary-wrap-main">
			<!-- 사이드바 연결 -->
			<aside th:insert="~{diary/diary_aside :: wrap-diary-aside}"></aside>
			<div class="board-search-inner">
				<!-- 소개 문구 -->
				<div class="diary-introduction">
					<span><strong> 하트가 많이 눌린 개미들의 인기 여행지를 소개합니다.</strong></span>
				</div>
				<!-- 순서 옵션 -->
				<div class="d-select">
					<select><option value="latest">최신순</option>
						<option value="popularity">인기순</option>
					</select>
				</div>
				<!-- 지역 태그 -->
				<div th:replace="~{diary/diary_fragment :: arealist}"></div>
				<!-- 지역 탭 -->
				<div class="diary-tab-content">
					<div id="tab01">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<!-- 공개글 데이터 가져오기  -->
								<th:block th:if="${diaries} != null">
									<th:block th:each="diary :  ${diaries}">
										<div class="wrap-d-content">
											<div class="diary-img">
												<img src="https://dummyimage.com/350x200/000/fff"
													alt="대표 이미지">
											</div>
											<div class="wrap-content">
												<div class="diary-content">
													<!-- a 태그 대신 연결하는 방법 -->
													<div th:with="url=@{'/diary/read/' + ${diary.diaryId}}">
														<p class="diary-title" style="font-size: var(--font3);">
															<a th:href="${url}" th:text="${diary.diaryTitle}"></a>
														</p>
													</div>
													<p class="diary-date" style="font-size: var(--font4);"
														th:text="${diary.diaryDate}"></p>
													<p class="diary-nickname" style="font-size: var(--font5);"
														th:text="${diary.memNick}"></p>
													<p class="diary-preview" style="font-size: var(--font5);"
														th:utext="${diary.diaryContent}"></p>
												</div>
												<div class="diary-like">
													<img th:src="@{/images/diary/diary_like_none.png}"
														alt="하트아이콘" class="like-icon">
													<div>
														<p style="font-size: var(--font6);">view</p>
														<p class="diary-diaryViews"
															style="font-size: var(--font6);"
															th:text="${diary.diaryViews}"></p>
													</div>
												</div>
											</div>
										</div>
									</th:block>
								</th:block>
							</div>
							<!-- 	<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">제주 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div> -->
							<!--더미  -->
							<!-- <div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">서울전체 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div> -->
							<!-- 더미글끝 -->
						</div>
					</div>
					<!--2번째 탭  -->
					<div id="tab02">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">서울 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--3번째 탭  -->
					<div id="tab03">
						<div class="wrap-diary">

							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">부산 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--4번째 탭  -->
					<div id="tab04">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">대구 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--5번째 탭  -->
					<div id="tab05">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">인천 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--6번째 탭  -->
					<div id="tab06">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">광주 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--7번째 탭  -->
					<div id="tab07">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">대전 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--8번째 탭  -->
					<div id="tab08">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">울산 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--9번째 탭  -->
					<div id="tab09">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">세종 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--10번째 탭  -->
					<div id="tab10">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">경기 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--11번째 탭  -->
					<div id="tab11">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">강원 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--12번째 탭  -->
					<div id="tab12">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">충북 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--13번째 탭  -->
					<div id="tab13">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">충남 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--14번째 탭  -->
					<div id="tab14">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">전북 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--15번째 탭  -->
					<div id="tab15">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">전남 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--16번째 탭  -->
					<div id="tab16">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">경북 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--17번째 탭  -->
					<div id="tab17">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">경남 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--18번째 탭  -->
					<div id="tab18">
						<div class="wrap-diary">
							<div class="wrap-d-content">
								<div class="diary-img">
									<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
								</div>
								<div class="wrap-content">
									<div class="diary-content">
										<p class="diary-title">제주 여행</p>
										<p class="diary-date">yyyy-mm-dd</p>
										<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
											미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
									</div>
									<div class="diary-like">
										<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
											class="like-icon">
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- 글 리스트 7개씩 하고 for문으로 더보기 하기 -->
				<div class="btn-more">
					<button type="button"  id="load-more" class="learn-more" onclick="loadMorePosts()">더보기</button>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="footer" th:insert="~{common/footer :: wrap-footer}"></div>
	</footer>

</body>
<script type="text/javascript" th:src="@{/js/diary/diary_board.js}"></script>

</html>