<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/board.css" />
    <title> 여행기 게시판 </title>    
</head>
<body>
    <!-- 버튼 클릭 이벤트로 지역 태그 클릭 시 이동 시키기 -->
   <div class="tags">
    <span class="tag">전체</span>
    <span class="tag"> 서울</span>
    <span class="tag"> 부산</span>
    <span class="tag"> 대구</span>
    <span class="tag"> 인천</span>
    <span class="tag"> 광주</span>
    <span class="tag"> 대전</span>
    <span class="tag"> 울산</span>
    <span class="tag"> 세종</span>
    <span class="tag"> 경기</span>
    <span class="tag"> 강원</span>
    <span class="tag"> 충북</span>
    <span class="tag"> 충남</span>
    <span class="tag"> 전북</span>
    <span class="tag"> 전남</span>
    <span class="tag"> 경북</span>
    <span class="tag"> 경남</span>
    <span class="tag"> 제주</span>
   </div>
   <!-- 순서 옵션 -->
   <div class="D-select">
    <select><option value="latest">최신순</option>
    <option value="popularity">인기순</option>
</select>
</div>
<!-- 소개 문구 -->
<span><strong> 하트가 많이 눌린 개미들의 인기 여행지를 소개합니다.</strong></span>
<!-- 글 리스트 7개씩 하고 for문으로 더보기 하기 -->
<div class="board-list">
<table>
    <tr class="board-piece">
        <td class="board-img"> <img src="https://dummyimage.com/160x100/000/fff"></td>
        <td class="board-title"> 제주 여행</td>
        <td class="board-date"> yyyy-mm-dd</td>
        <td class="board-preview"> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td class="board-heart">하트 누르기 표시</td>
    </tr>
    <tr class="board-piece">
        <td class="board-img"> <img src="https://dummyimage.com/160x100/000/fff"></td>
        <td class="board-title"> 제주 여행</td>
        <td class="board-date"> yyyy-mm-dd</td>
        <td class="board-preview"> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td class="board-heart">하트 누르기 표시</td>
    </tr>
    <tr class="board-piece">
        <td class="board-img"> <img src="https://dummyimage.com/160x100/000/fff"></td>
        <td class="board-title"> 제주 여행</td>
        <td class="board-date"> yyyy-mm-dd</td>
        <td class="board-preview"> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td class="board-heart">하트 누르기 표시</td>
    </tr>
    <tr class="board-piece">
        <td class="board-img"> <img src="https://dummyimage.com/160x100/000/fff"></td>
        <td class="board-title"> 제주 여행</td>
        <td class="board-date"> yyyy-mm-dd</td>
        <td class="board-preview"> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td class="board-heart">하트 누르기 표시</td>
    </tr>
    <tr class="board-piece">
        <td class="board-img"> <img src="https://dummyimage.com/160x100/000/fff"></td>
        <td class="board-title"> 제주 여행</td>
        <td class="board-date"> yyyy-mm-dd</td>
        <td class="board-preview"> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td class="board-heart">하트 누르기 표시</td>
    </tr>
    <tr class="board-piece">
        <td class="board-img"> <img src="https://dummyimage.com/160x100/000/fff"></td>
        <td class="board-title"> 제주 여행</td>
        <td class="board-date"> yyyy-mm-dd</td>
        <td class="board-preview"> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td class="board-heart">하트 누르기 표시</td>
    </tr>
    <tr class="board-piece">
        <td class="board-img"> <img src="https://dummyimage.com/160x100/000/fff"></td>
        <td class="board-title"> 제주 여행</td>
        <td class="board-date"> yyyy-mm-dd</td>
        <td class="board-preview"> 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</td>
        <td class="board-heart">하트 누르기 표시</td>
    </tr>
   
</table>
</div>
<button class="learn-more">더보기</button>
</body>
</html>