<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/diary/diary_aside.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="wrap-diary-aside" th:fragment="wrap-diary-aside">
		<div class="aside-inner">
			<ul class="diary-aside">
				<li class="diary-aside-title"><span class="title-text"> 여행기 </span></li>
				<li class="diary-aside-board"><a th:href="@{/diary}" sec:authorize="isAnonymous()" class="borad">여행기
						게시판</a></li>
				<li class="diary-aside-myboard"><a th:href="@{/my/diary}"  class="myborad">나의
						여행기</a></li>
				<li class="diary-aside-write"><a th:href="@{/my/write}" class="write">여행기
						작성하기</a></li>
			</ul>
		</div>
	</div>
</body>
</html>