<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="wrap-d-content"  th:fragment="diaryitemlist"> 
		<!-- 공개글 데이터 가져오기  -->
		<th:block th:if="${diaries} != null">
			<th:block th:each="diary :  ${diaries}">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img th:src="@{/images/diary/diary_empty_image.png}" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<!-- a 태그 대신 연결하는 방법 -->
							<div th:with="url=@{'/diary/read/' + ${diary.diaryId}}">
								<p class="diary-title" style="font-size: var(--font3);">
									<a th:href="${url}" th:text="${diary.diaryTitle}"></a>
								</p>
							</div>
							<p class="diary-date" style="font-size: var(--font4);"
								th:text="${diary.diaryDate}"></p>
							<p class="diary-nickname" style="font-size: var(--font5);"
								th:text="${diary.memNick}"></p>
							<p class="diary-preview" style="font-size: var(--font5);"
								th:utext="${diary.diaryContent}"></p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}"
								 class="like-icon" onclick="btnLikeClickHandler(this);">
							<div>
								<p style="font-size: var(--font6);">view</p>
								<p class="diary-diaryViews"
									style="font-size: var(--font6);"
									th:text="${diary.diaryViews}"></p>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</th:block>
	</div>

</body>
</html>