<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div th:fragment="areatags">
		<div id="tab02">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img th:src="@{/images/icons/spot_sample.png}"alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">서울 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--3번째 탭  -->
		<div id="tab03">
			<div class="wrap-diary">

				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">부산 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--4번째 탭  -->
		<div id="tab04">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">대구 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--5번째 탭  -->
		<div id="tab05">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">인천 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--6번째 탭  -->
		<div id="tab06">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">광주 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--7번째 탭  -->
		<div id="tab07">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">대전 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--8번째 탭  -->
		<div id="tab08">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">울산 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--9번째 탭  -->
		<div id="tab09">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">세종 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--10번째 탭  -->
		<div id="tab10">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">경기 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--11번째 탭  -->
		<div id="tab11">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">강원 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--12번째 탭  -->
		<div id="tab12">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">충북 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--13번째 탭  -->
		<div id="tab13">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">충남 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--14번째 탭  -->
		<div id="tab14">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">전북 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--15번째 탭  -->
		<div id="tab15">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">전남 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--16번째 탭  -->
		<div id="tab16">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">경북 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--17번째 탭  -->
		<div id="tab17">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">경남 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--18번째 탭  -->
		<div id="tab18">
			<div class="wrap-diary">
				<div class="wrap-d-content">
					<div class="diary-img">
						<img src="https://dummyimage.com/350x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">제주 여행</p>
							<p class="diary-date">yyyy-mm-dd</p>
							<p class="diary-preview">글 미리보기입니다. 글 미리보기입니다.글 미리보기입니다.글
								미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.글 미리보기입니다.</p>
						</div>
						<div class="diary-like">
							<img th:src="@{/images/diary/diary_like_none.png}" alt="하트아이콘"
								class="like-icon">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	</div>
</body>
</html>