<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header :: head('diaryboard')}">
<meta charset="UTF-8">

</head>
<body>
	<!--헤더영역  -->
	<div class="header" th:insert="~{common/header :: wrap-header}"></div>

 <!-- 일기 목록 영역 -->
    <div class="diary-list">
        <h1>여행기 상세보기</h1>
        <ul>
            <th:block th:each="diary : ${diaries}">
                <li>
                    <a th:href="@{/diary/read(diaryId=${diary.id})}">
                        <h2 th:text="${diary.title}"></h2>
                        <p th:text="${diary.content}"></p>
                        <p>작성일: <span th:text="${diary.createdDate}"></span></p>
                    </a>
                </li>
            </th:block>
        </ul>
    </div>



	<!-- 푸터영역 -->
	<div class="footer" th:insert="~{common/footer :: wrap-footer}"></div>
</body>
</html>