<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header :: head('구매내역')}"></head>
<link th:href="@{/css/store/buy.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/store/aside.css}" rel="stylesheet" type="text/css">
<script th:src="@{/js/store/buy/loadedHandler.js}" th:inline="javascript"></script>
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<body>
	<header class="header" th:replace="~{common/header :: wrap-header}"></header>
	<aside th:insert="~{store/aside :: store-aside}"></aside>
	<div class="wrap-main">
		<div class="buy flex">
			<div class="title">구매내역</div>
			<div class="item-info flex">
				<div class="item-buyId">주문번호</div>
				<div class="item-name">상품명</div>
				<div class="item-price">가격</div>
				<div class="item-check">구매일자</div>
			</div>
			<div class="buy-list" th:if="${list} != null">
				<div class="buy-info flex" th:each="item : ${list}">
					<div class="buy-buyId" th:text="${item.BUY_ID}"></div>
					<div class="buy-name" th:text="${item.ITEM_NAME}"></div>
					<div class="buy-price" th:text="${item.ITEM_PRICE_CHAR}+'원'" th:if="${item.ITEM_SALE} == null"></div>
					<div class="buy-price" th:text="${item.SALE_PRICE}+'원'" th:if="${item.ITEM_SALE} != null"></div>
					<div class="buy-date" th:text="${item.BUY_DATE}"></div>
				</div>
			</div>
			<div class="buy-list empty" th:if="${list} == null">구매내역이 비었습니다.</div>
		</div>
	</div>
	<footer class="footer" th:insert="~{common/footer :: wrap-footer}"></footer>
</body>
</html>