@charset "UTF-8";


.wrap-admain *{
	font-family: 'GangwonEdu_OTFBoldA';
}

.wrap-admain{
	display:flex;
	flex-direction:row;
	width: 1440px;
    margin: 0 auto;
    
}

.wrap-admain .ad-header{
 background-color:rgb(128, 128, 128);
 height	:70px;
 width:1200px;
 color:white;
}

.wrap-admain .ad-sidebar{
	width: 240px;
    height: 1025px;
    background: black;
    color:white;
    
}

.wrap-admain .ad-sidebar .ad-menu{
	text-align: center;
	font-size:25px;
}

/* 게시글 리스트 */
.ad-content{
	 margin: 0 auto;
}

.ad-content>ul>li:first-child{
	 text-align: center;
	 /* 수직정렬 */
	 vertical-align:middle;  
}

.ad-content{
	display:flex;
}

.ad-content .boardlist{
	margin-top: 20px;
	
}



.boardlist> ul>li{
	 float:left;  
	/* text-align:center; */
	
}

.boardlist > li >ul{
	 clear:both;
	/*   padding:0px auto; 
     position:relative;  */
}

.boardlist > li >ul>li{
 	 float:left; 
	 vertical-align:baseline;
}


