@charset "UTF-8";


.wrap-main *{
	font-family: 'GangwonEdu_OTFBoldA';
}

.wrap-main{
	display:flex;
	flex-direction:row;
	width: 1440px;
    margin: 0 auto;
}

/* 사이드바 */
.wrap-sidebar .ad-menu{
	font-size:25px;
	margin:30px 0 50px 0;
}

.wrap-sidebar .ad-member{
	margin-bottom:20px; 
	font-size:17px;
}

.wrap-sidebar .ad-menumember{
	margin-bottom:10px; 
	font-size:13px;
}

.wrap-sidebar .ad-board{
	margin-bottom:20px; 
	margin-top:30px;
	font-size:17px;
}

.wrap-sidebar .ad-menuboard{
	margin-bottom:10px; 
	font-size:13px;
}

.wrap-sidebar .ad-store{
	margin-bottom:20px; 
	margin-top:30px;
	font-size:17px;
}

.wrap-sidebar .ad-menustorea{
	font-size:13px;
}

/* main 헤더 */
.wrap-main .ad-header{
 background-color:rgb(128, 128, 128);
 height	:70px;
 width:1200px;
 color:white;
}

.wrap-main .wrap-sidebar{
	width: 240px;
    height: 1025px;
    background: black;
    color:white;
}


/* 게시글 리스트 */
.wrap-body .ad-content{
	 margin: 0 auto;
}

.wrap-body .ad-content>ul>li:first-child{
	 text-align: center;
	 /* 수직정렬 */
	 vertical-align:middle;  
}

.wrap-body .ad-content{
	display:flex;
	width:100%;
}

 .wrap-body .ad-search .search{
	width:95%;
	border-radius:20px;
	height:30px;

	margin:15px 0 10px 20px; 
} 

.wrap-body .ad-content .boardlist{
	/* margin-top: 25px; */
	margin: 0 auto;
	width:100%;
}

.wrap-body .ad-content .col{
  	 display:flex;
  	 margin:20px 0 20px 0;  

  	 border-bottom:1px solid black;
} 

.wrap-body .ad-content .list>li{
	 margin:15px 0 15px 0; 
}

.boardlist> ul>li{
	 float:left;  
	 text-align:center; 
}

.boardlist > li >ul{
	 clear:both;
	/*   padding:0px auto; 
     position:relative;  */
}

.boardlist > li> ul >li{
	 float:left;
	 vertical-align:baseline;
	 text-align: center;
}

.boardlist > li> .col >li:first-child{
	width:15%;
}

.boardlist > li> .col >li:first-child+li{
	width:30%;
}
.boardlist > li> .col >li:first-child+li+li{
	width:18%;
}
.boardlist > li> .col >li:first-child+li+li+li{
	width:18%;
}
.boardlist > li> .col >li:first-child+li+li+li+li{
	width:15%;
}