@charset "UTF-8";

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    height: 1025px;
    overflow-y: auto;
    background: black;
    color:white;
    transition: 0.5s;
    z-index: 999;
}