<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link th:href="@{/css/diary/diary_aside.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/diary/my/my_write.css}" rel="stylesheet">
<head th:replace="~{common/header :: head('diaryboard')}">
    <meta charset="UTF-8">
   
</head>
<body>

    <header>
        <div class="header" th:insert="~{common/header :: wrap-header}"></div>
    </header>

    <section class="diary-writes-main">
        <div class="diary-write-wrap">
            <form id="diaryUpdateForm">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <table class="diary-write-table">
                    <tr>
                        <td colspan="2"><h1>나의 여행일기 남기기</h1></td>
                    </tr>
                    <tr>
                        <td>일정</td>
                    </tr>
                    <tr>
                        <td>
                            <select name="diaryPlanId" class="diary-writer-select-plan">
                                <option value="">처음 생성했던 일정 이름을 골라주세요!</option>
                                <!-- Thymeleaf 반복문을 사용하여 계획 목록을 옵션으로 표시 -->
                                <option th:each="plan : ${plans}" th:value="${plan.planId}" th:text="${plan.planTitle}">planTitle</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>제목</td>
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="제목을 입력하세요" name="diaryTitle" th:value="${diary.diaryTitle}" class="diaryTitle"></td>
                    </tr>
                    <tr>
                        <td>내용</td>
                    </tr>
                    <tr>
                        <td>
                            <div id="container">
                                <textarea id="editor" name="diaryContent" th:text="${diary.diaryContent}"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>테마 및 공개 여부</td>
                    </tr>
                    <tr>
                        <td class="inline-wrapper">
                            <div class="inline-element">
                                <select name="diaryTheme" class="diary-writer-select-theme">
                                    <option value="">테마를 적용하고 싶다면?</option>
									<!-- Thymeleaf 반복문을 사용하여 계획 목록을 옵션으로 표시 -->
									<option th:each="theme : ${themes}" th:value="${theme.itemName}" th:text="${theme.itemName}">THEME</option>
                                </select>
                            </div>
                            <div class="inline-element2">
								<label>
								<input th:value="${1}" type="radio" name="diaryOpen"  > 비공개</label> 
								<label><input th:value="${0}"   type="radio" name="diaryOpen" checked > 공개</label>
							</div>
                        </td>
                    </tr>
                    <tr class="diary_btn_submit">
                        <td><button type="button" value="수정" class="btn_submit">수정</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </section>

    <footer>
        <div class="footer" th:insert="~{common/footer :: wrap-footer}"></div>
    </footer>

   <script type="text/javascript">
   
  //  수정하기 ajax
$(document).ready(function() {
$('#diaryForm .btn_submit').click(function(event) {
	
}
  
   </script>

    <!-- ckeditor5 스크립트 -->
    <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/super-build/ckeditor.js"></script>
    <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
    <script type="text/javascript" th:src="@{/js/diary/editor.js}"></script>
    <script type="text/javascript" th:src="@{/js/diary/diary_write.js}"></script>

</body>
</html>
