<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/diary/diary_aside.css}" rel="stylesheet"
	type="text/css">
<link th:href="@{/css/diary/my/my_board.css}" rel="stylesheet">
<head th:replace="~{common/header :: head('diaryboard')}"></head>

</head>
<body>
	<header>
		<div class="header" th:insert="~{common/header :: wrap-header}"></div>
	</header>
	<section>
		<div class="mydiary-wrap">
			<!-- 사이드바 연결 -->
			<aside th:insert="~{diary/diary_aside :: wrap-diary-aside}"></aside>
			<!-- 나만의 글 가져오기   -->
			<div class="board-list">
				<th:block th:if="${diaries} != null">
					<th:block th:each="diary :  ${diaries}">
						<div class="wrap-diary">
							<div class="diary-img">
								<img src="https://dummyimage.com/200x200/000/fff" alt="대표 이미지">
							</div>
							<div class="wrap-content">
								<div class="diary-content">
									<a th:href="@{|/diary/read/${diary.diaryId}|}">
										<p class="diary-title" th:text="${diary.diaryTitle}"></p>
									</a>
									<p class="diary-date" th:text="${diary.diaryDate}"></p>
									<p class="diary-open" th:text="${diary.diaryOpen}"></p>
								</div>
							</div>
						</div>
					</th:block>
				</th:block>
				<!-- 4x4 로 뿌리기 -->


				<!-- db 연동 전 데모글  -->
				<!-- <div class="wrap-diary">
					<div class="diary-img">
						<img src="https://dummyimage.com/200x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">제목</p>
							<p class="diary-date">yy-mm-dd</p>
							<p class="diary-open">비공개</p>
						</div>
					</div>
				</div>
				<div class="wrap-diary">
					<div class="diary-img">
						<img src="https://dummyimage.com/200x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">제목</p>
							<p class="diary-date">yy-mm-dd</p>
							<p class="diary-open">비공개</p>
						</div>
					</div>
				</div>
				<div class="wrap-diary">
					<div class="diary-img">
						<img src="https://dummyimage.com/200x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">제목</p>
							<p class="diary-date">yy-mm-dd</p>
							<p class="diary-open">비공개</p>
						</div>
					</div>
				</div>
				<div class="wrap-diary">
					<div class="diary-img">
						<img src="https://dummyimage.com/200x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">제목</p>
							<p class="diary-date">yy-mm-dd</p>
							<p class="diary-open">비공개</p>
						</div>
					</div>
				</div>
				<div class="wrap-diary">
					<div class="diary-img">
						<img src="https://dummyimage.com/200x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">제목</p>
							<p class="diary-date">yy-mm-dd</p>
							<p class="diary-open">비공개</p>
						</div>
					</div>
				</div>
				<div class="wrap-diary">
					<div class="diary-img">
						<img src="https://dummyimage.com/200x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">제목</p>
							<p class="diary-date">yy-mm-dd</p>
							<p class="diary-open">비공개</p>
						</div>
					</div>
				</div>
				<div class="wrap-diary">
					<div class="diary-img">
						<img src="https://dummyimage.com/200x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">제목</p>
							<p class="diary-date">yy-mm-dd</p>
							<p class="diary-open">비공개</p>
						</div>
					</div>
				</div>
				<div class="wrap-diary">
					<div class="diary-img">
						<img src="https://dummyimage.com/200x200/000/fff" alt="대표 이미지">
					</div>
					<div class="wrap-content">
						<div class="diary-content">
							<p class="diary-title">제목</p>
							<p class="diary-date">yy-mm-dd</p>
							<p class="diary-open">비공개</p>
						</div>
					</div>
				</div> -->
				<!-- 더미 글 끝 -->


			</div>

			<div class="btn-more">
				<button type="button" class="learn-more">더보기</button>
			</div>
		</div>
	</section>
	<!-- <aside> <div class="aside" th:insert="~{common/diary_aside :: wrap-aside}"></div></aside> -->
	<footer>
		<div class="footer" th:insert="~{common/footer :: wrap-footer}"></div>
	</footer>
</body>
<script type="text/javascript" th:src="@{/js/diary/diary_my_board.js}"></script>
</html>