@charset "UTF-8";
/* 폰트 적용 */
/* 레이아웃 규격 정하기 */
.diary-wrap-main {
	width: 960px;
	margin: auto;
	padding-top: 3%;
	padding-bottom: 5%;
	font-family: 'GangwonEdu_OTFBoldA';
}
/*지역 태그  */
.diary-wrap-main .tag {
	border-radius: 5px 5px 5px;
	border: 1px solid;
	padding: 8px;
}

.diary-wrap-main .tag a {
	padding-top: 5px;
}

.diary-wrap-main .d-select {
	display: flex;
	justify-content: flex-end;
}

.diary-wrap-main .tags {
	display: inline-block;
}

/*글 리스트 깨짐 가운데 정렬로  */
.diary-wrap-main .board-search-inner {
	padding-bottom: 30px;
	font-size: var(--font5);
}
/* 소개 문구 폰트 크기   */
.diary-introduction {
	font-size: var(--font2);
}

/* 글 리스트 */
.wrap-diary {
	display: flex;
	flex-wrap: wrap;
}

.board-list {
	position: relative;
}

.diary-like {
	position: absolute;
	top: 0;
	right: 0;
}
/* 제목, 날짜, 미리보기  */
.diary-title {
	font-size: var(--font3);
	margin: 10px;
}

.diary-date {
	font-size: var(--font4);
	margin: 8px;
}

.diary-preview {
	font-size: var(--font5);
	margin: 8px;
}
/*글 가운데로 넓이 줘서 고정시키기  */
.diary-content {
	width: 500px;
}
/* 버튼 가운데 정렬 */
.btn-more {
	display: flex;
	justify-content: center;
	padding-top: 45px;
}
/* 버튼 깜빡이 호버 기능  */
.btn-more button {
	width: 130px;
	height: 30px;
	font-family: "GangwonEdu_OTFBoldA";
	font-size: var(--font4);
	background: black;
	color: white;
	border: 0;
	border-radius: 8px;
	text-align: center;
	padding-top: 7px;
}

.btn-more button:hover {
	background: var(--color_light_gray);
	color: black;
	cursor: pointer;
}