@charset "UTF-8";
/*  글 상세 내용 레이아웃 */
.myread-wrap {
	display: flex;
	justify-content: space-evenly; /* 아이콘 오른쪽 배열 두기  */
	width: 960px;
	margin: auto;
	height: 500px;
	padding-bottom: 100px;
	padding-top: 100px;
	flex-wrap: nowrap;
	flex-direction: row-reverse; /* 아이콘 오른쪽 배열 두기  */
}
/* 글 상세 보기에서 위아래 선 스타일표시  */
.diary-date .diary-content {
border-bottom: solid 1px;
    width: 860px;}
/* 글 상세보기 */    

.menubar{
	display: flex;
	position: fixed;	/*고정 시켜두기  */
	right: 189px;	
}
.menu > li {
 width: 70px; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 40px;
 
}

.menu a {
  color: #fff;
}

.submenu > li {
  line-height: 50px;
  background-color: #94a9ff;
}

.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
}
.menu > li:hover {
  background-color: #94a9ff;
  transition-duration: 0.5s;
}

.menu > li:hover .submenu {
  height: 250px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;}