@charset "UTF-8";

/* body{
    padding: 80px;
    
}
div{
    text-align: center;
    display: flex;
    
}
td{
    padding: 10px;
} */
.tag{
    border-radius: 5px 5px 5px;
    border: 1px solid;
}
.D-select{
    display: grid;
    justify-content: end;
}
.tags{
    display: inline-block;
}
.board-piece{
    padding-top: 20px;
    padding-bottom: 20px;
}
.learn-more{
    width: 200px;
    border-style: none;
    color: darkgrey;
}
.btn-more{
    display: flex;
    align-items: center;
    justify-content: center;
   
}