@charset "UTF-8";
/* 글에 여백 주기 */
.mydiary-wrap {
	width: 960px;
	margin: auto;
	padding-top: 3%;
	padding-bottom: 5%;
}
/* 나의 글 리스트 배열 글 밑으로 가게 */
.board-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
/* 버튼 가운데 정렬 */
.btn-more {
	display: flex;
	justify-content: center;
	padding-top: 45px;
}
/* 버튼 깜빡이 호버 기능  */
.btn-more button {
	width: 130px;
	height: 30px;
	font-family: "GangwonEdu_OTFBoldA";
	font-size: var(--font4);
	background: black;
	color: white;
	border: 0;
	border-radius: 8px;
	text-align: center;
	padding-top: 7px;
}