<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원관리</title>
<!-- reset.css -->
<link th:href="@{/css/common/reset.css}" rel="stylesheet" type="text/css">
<!-- 레이아웃 설정 -->
<link th:href="@{/css/common/core.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/admin/admin.css}" rel="stylesheet">
<link th:href="@{/css/admin/admin_member.css}" rel="stylesheet">
<!-- CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css">
<!--제이쿼리  -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<div class="wrap-main">
	<div class="wrap-sidebar">
		<img th:src="@{/images/tripant_logo_text.png}" alt="로고">
		<div class="ad-menu"> 관리자메뉴</div>
		<div class="ad-member">회원관리</div>
		<div class="ad-menumember a"><a href="/admin/member">회원관리</a></div>
		<div class="ad-menumember b"><a href="/admin/mchart">회원통계</a></div>
		
		<div class="ad-board">게시글 관리</div>
		<div class="ad-menuboard a"><a href="/admin/board">전체게시글</a></div>
		<div class="ad-menuboard b"><a href="/admin/complain">신고 게시글 관리</a></div>
		<div class="ad-menuboard c"><a href="/admin/bchart">게시글 통계</a></div>
		
		<div class="ad-store">스토어 관리</div>
		<div class="ad-menustorea"><a href="/admin/cancel">결제 취소</a></div>
	</div>
	
	<div class="wrap-body">
	 	<form>
			<div class="ad-header">
				<div class="ad-text">회원관리</div>
			</div>
			<div class="ad-search">
				<input class="search" type="text" placeholder="회원검색">
			</div>
	
			<div class="ad-content">
				<ul class="memberlist">
					<li>	
						<ul class="col">
							<li>닉네임</li>
							<li>이메일</li>
							<li>가입일자</li>
							<li>탈퇴일자</li>
							<li>등급</li>
							<li></li>
						</ul>
					</li>
					
					<li>
						
						<th:block th:each="memList:${memList}">
						<ul class="col list">
							<li th:text="${memList.memNick}"></li>
							<li th:text="${memList.memEmail}"></li>
							<li th:text="${memList.memJoinDate}"></li>
							<li th:text="${memList.memQuitDate}"></li>
							<li th:text="${memList.memRole}"></li>
							<li><button type="button" class="btn">편집</button></li>
						</ul>
						</th:block>
						
					</li>
				</ul>	
			</div> 
		</form>
	</div>
</div>



<script>
$(loadedHandler);
function loadedHandler() {
	$(".btn").on("click", ClickHandler);
}

function ClickHandler() {
	console.log("++");
	Swal.fire({
         title: " <p style='font-size:17px'>" + "등급변경" + "</p>",
         confirmButtonText:"수정완료",
         confirmButtonColor:"black",
         width:"280px",
         confirmButtonTextFont:"GangwonEdu_OTFBoldA",
         html: `
             <select name="selectRole" id="selectRole" style='font-family:GangwonEdu_OTFBoldA; font-size:13px; height:25px'>
                 <option value="1">휴먼회원</option>
                 <option value="2">일반회원</option>
                 <option value="3">폰튼적용회원</option>
                 <option value="4">관리자</option>
                 <option value="5">소유자</option>
             </select>
         `,
         focusConfirm: false,
         preConfirm: () => {  //확인 버튼 누르면 실행되는 콜백함수
             const selectRole = document.getElementById('selectRole').value;
             $.ajax({
            	 url:"/admin/member/role",
            	 method:"post",
            	 data: {selectRole:selectRole},
				 //success: 1이면 업데이트 완료 0이면 실패
				 success : function(result) {
							console.log(result);
							if (result == 1 ) {
								alert("성공");
							} else {
								alert("실패");
							}
				 },
				 error : function(request, status, error) {
							alert("code: " + request.status + "\n"
									+ "message: " + request.responseText + "\n"
									+ "error: " + error);
						}
             });
             return { selectRole: selectRole };
         }
     }).then((result) => {  
         if (result.isConfirmed) { //모달창에서 confirm 버튼을 눌렀다면
             console.log('Selected Role:', result.value.selectRole);
         }
     });
	 
}


</script>
</body>
</html>

