<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>회원관리</title>
<!-- reset.css -->
<link th:href="@{/css/common/reset.css}" rel="stylesheet" type="text/css">
<!-- 레이아웃 설정 -->
<link th:href="@{/css/common/core.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/admin/admin.css}" rel="stylesheet">
<link th:href="@{/css/admin/admin_member.css}" rel="stylesheet">
<!-- CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css">
<!--제이쿼리  -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<script th:line="javascript" th:src="@{/js/admin/member_role.js}"></script>
<body>
<div class="wrap-main">
	<div class="wrap-sidebar">
		<img th:src="@{/images/tripant_logo_text.png}" alt="로고">
		<div class="ad-menu"> 관리자메뉴</div>
		<div class="ad-member">회원관리</div>
		<div class="ad-menumember a"><a href="/admin/member">회원관리</a></div>
		<div class="ad-menumember b"><a href="/admin/mchart">회원통계</a></div>
		
		<div class="ad-board">게시글 관리</div>
		<div class="ad-menuboard a"><a href="/admin/board">전체게시글</a></div>
		<div class="ad-menuboard b"><a href="/admin/complain">신고 게시글 관리</a></div>
		<div class="ad-menuboard c"><a href="/admin/bchart">게시글 통계</a></div>
		
		<div class="ad-store">스토어 관리</div>
		<div class="ad-menustorea a"><a href="/admin/cancel">결제취소</a></div>
		<div class="ad-menustorea b"><a href="/admin/goods">상품관리</a></div>
	</div>
	
	<div class="wrap-body">
	 	<form>
			<div class="ad-header">
				<div class="ad-text">회원관리</div>
			</div>
			<div class="ad-search">
				<input class="search" type="text" name="search" placeholder="회원검색"> 
				<span><button type="button" class="btn-search"><img src="/images/icons/search.png" alt="검색"/></button></span>
			</div>
	
			<div class="ad-content">
				<ul class="memberlist">
					<li>	
						<ul class="col">
							<li>닉네임</li>
							<li>이메일</li>
							<li>가입일자</li>
							<li>탈퇴일자</li>
							<li>등급</li>
							<li></li>
						</ul>
					</li>
					
					<li>
						
						<th:block th:each="memList:${memList}">
						<ul class="col list">
							<li th:text="${memList.memNick}"></li>
							<li th:text="${memList.memEmail}"></li>
							<li th:text="${memList.memJoinDate}"></li>
							<li th:text="${memList.memQuitDate}"></li>
							<li th:text="${memList.memRole}"></li>
							<li><button type="button" class="btn">편집</button></li>
						</ul>
						</th:block>
						
					</li>
				</ul>	
			</div> 
		</form>
	</div>
</div>
<script>
$(loaededHandler);
function loaededHandler(){
	$('.btn-search').on("click",searchHandler);
}

function searchHandler(){
	var searchMem = $("[name=search]").val().trim();
	$.ajax({
		url:"/admin/member/search",
		 method:"post",
		 data: {searchMem:searchMem},
		 success : function(result) {
			 memListHandler(result)
				},
	 error : function(request, status, error) {
				alert("code: " + request.status + "\n"
						+ "message: " + request.responseText + "\n"
						+ "error: " + error);
			}
		
	});
}

function memListHandler(searchList){
	var htmlVal = '';
	for (var idx in searchList){
		var memList = searchList[idx];
		htmlVal+=`
			<ul class="col list">
				<li>${memList.memNick}</li>
				<li>${memList.memEmail}</li>
				<li>${memList.memJoinDate}</li>
				<li>${memList.memQuitDate}</li>
				<li>${memList.memRole}</li>
				<li><button type="button" class="btn">편집</button></li>
			</ul>
			`;
	}
}

</script>
</body>
</html>

