<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>admin</title>
<!-- reset.css -->
<link th:href="@{/css/common/reset.css}" rel="stylesheet" type="text/css">
<!-- 레이아웃 설정 -->
<link th:href="@{/css/common/core.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/admin/admin.css}" rel="stylesheet">
</head>
<body>
<div class="wrap-admain">
	<div class="ad-sidebar">
		<div class="ad-menu"> 관리자메뉴</div>
	</div>
	<div>
		<div class="ad-header">
			<p>회원관리 </p>
		</div>
		<div class="ad-content">
			<p>게시글 넣기</p>
		</div>
	</div>
	
</div>
</body>
</html>

