<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글관리</title>
<!-- reset.css -->
<link th:href="@{/css/common/reset.css}" rel="stylesheet" type="text/css">
<!-- 레이아웃 설정 -->
<link th:href="@{/css/common/core.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/admin/admin.css}" rel="stylesheet">
<link th:href="@{/css/admin/admin_board.css}" rel="stylesheet">
<!--제이쿼리  -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<div class="wrap-main">
	<div class="wrap-sidebar">
		<img th:src="@{/images/tripant_logo_text.png}" alt="로고">
		<div class="ad-menu">관리자메뉴 </div>
		<div class="ad-member">회원관리</div>
		<div class="ad-menumember a"><a href="/admin/member">회원관리</a></div>
		<div class="ad-menumember b"><a href="/admin/mchart">회원통계</a></div>
		
		<div class="ad-board">게시글 관리</div>
		<div class="ad-menuboard a"><a href="/admin/board">전체게시글</a></div>
		<div class="ad-menuboard b"><a href="/admin/complain">신고 게시글 관리</a></div>
		<div class="ad-menuboard c"><a href="/admin/bchart">게시글 통계</a></div>
		
		<div class="ad-store">스토어 관리</div>
		<div class="ad-menustorea"><a href="/admin/cancel">결제 취소</a></div>
	</div>
	
	<div class="wrap-body">
		<form>
			<div class="ad-header">
				<div class="ad-text">전체 게시글</div>
			</div>
			<div class="ad-search">
				<select class="search-option" name="option">
					<option value="nick" selected>닉네임</option>
					<option value="title">제목</option>
				</select>
				<input class="search" type="text" placeholder="게시글검색">
			</div>
			<div class="ad-content">
				<ul class="boardlist">
					<li>	
						<ul class="col">
							<li>번호</li>
							<li>제목</li>
							<li>닉네임</li>
							<li>날짜</li>
							<li>조회수<span>▼</span></li>
							<li>좋아요<span>▼</span></li>
						</ul>
					</li>
					<li>
						<th:block th:each="memBoard:${memBoard}">
						<ul class="col list">
							<li th:text="${memBoard.diaryId}"></li>
							<li th:text="${memBoard.diaryTitle}"></li>
							<li th:text="${memBoard.diaryMemEmail}"></li>
							<li th:text="${memBoard.diaryDate}"></li>
							<li th:text="${memBoard.diaryViews}"></li>
							<li></li>
						</ul>
						</th:block>
						
					</li>
				</ul>
			</div>
		</form>
	</div>
</div>	
</body>
</html>