<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header :: head('결제취소')}"></head>
<link th:href="@{/css/admin/admin.css}" rel="stylesheet">
<link th:href="@{/css/admin/admin_cancel.css}" rel="stylesheet">
<body>
<div class="wrap-main">
	<div class="wrap-sidebar">
		<img th:src="@{/images/tripant_logo_text.png}" alt="로고">
		<div class="ad-menu">관리자메뉴</div>
		<div class="ad-member">회원관리</div>
		<div class="ad-menumember a"><a href="/admin/member">회원관리</a></div>
		<div class="ad-menumember b"><a href="/admin/mchart">회원통계</a></div>
		
		<div class="ad-board">게시글 관리</div>
		<div class="ad-menuboard a"><a href="/admin/board">전체게시글</a></div>
		<div class="ad-menuboard b"><a href="/admin/complain">신고 게시글 관리</a></div>
		<div class="ad-menuboard c"><a href="/admin/bchart">게시글 통계</a></div>
		
		<div class="ad-store">스토어 관리</div>
		<div class="ad-menustorea a"><a href="/admin/cancel">결제취소</a></div>
		<div class="ad-menustorea b"><a href="/admin/goods">상품관리</a></div>
	</div>
	
	<div class="wrap-body">
		<form action ="/logout" method="post">
			<div class="ad-header">
				<div class="ad-text">결제취소</div>
				<button type="submit" class="btn-logout">로그아웃</button>
			</div>
		</form>
			
			<div class="ad-search">
				<input class="search" type="text" name="search" placeholder="회원검색">
				<button type="button" class="btn-search"><img src="/images/icons/search.png" alt="검색"/></button>
			</div>
			
			<div class="ad-content">
				<ul class="memberlist">
					<li>	
						<ul class="col">
							<li>주문번호</li>
							<li>닉네임</li>
							<li>이메일</li>
							<li>상품명</li>
							<li>구매일자</li>
							<li>취소 여부</li>
						</ul>
					</li>
					<li>
						<ul class="col list" th:each="map : ${list}" th:data-id="${map.BUY_ID}" th:data-email="${map.MEM_EMAIL}">
							<li th:text="${map.BUY_ID}"></li>
							<li th:text="${map.MEM_NICK}"></li>
							<li th:text="${map.MEM_EMAIL}"></li>
							<li th:text="${map.ITEM_NAME}"></li>
							<li th:text="${map.BUY_DATE}"></li>
							<li>
								<button type="button" class="btn cancel">결제취소</button>
								<input type="hidden" th:value="${map.ITEM_CODE}">
							</li>
						</ul>
					</li>
				</ul>	
			</div> 
	</div>
</div>

<script th:line="javascript" th:src="@{/js/admin/store/cancel.js}"></script>
</body>
</html>