<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/header :: head('상품관리')}"></head>
<!-- css -->
<link th:href="@{/css/admin/admin.css}" rel="stylesheet">
<link th:href="@{/css/admin/admin_goods.css}" rel="stylesheet">
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css">
<body>
<div class="wrap-main">
	<div class="wrap-sidebar">
		<img th:src="@{/images/tripant_logo_text.png}" alt="로고">
		<div class="ad-menu"> 관리자메뉴</div>
		<div class="ad-member">회원관리</div>
		<div class="ad-menumember a"><a href="/admin/member">회원관리</a></div>
		<div class="ad-menumember b"><a href="/admin/mchart">회원통계</a></div>
		
		<div class="ad-board">게시글 관리</div>
		<div class="ad-menuboard a"><a href="/admin/board">전체게시글</a></div>
		<div class="ad-menuboard b"><a href="/admin/complain">신고 게시글 관리</a></div>
		<div class="ad-menuboard c"><a href="/admin/bchart">게시글 통계</a></div>
		
		<div class="ad-store">스토어 관리</div>
		<div class="ad-menustorea a"><a href="/admin/cancel">결제취소</a></div>
		<div class="ad-menustorea b"><a href="/admin/goods">상품관리</a></div>
	</div>
	<div class="wrap-body">
		<form action ="/logout" method="post">
			<div class="ad-header">
				<div class="ad-text">상품관리</div>
				<button type="submit" class="btn-logout">로그아웃</button>
			</div>
		</form>		
			<div class="ad-search">
				<input class="search" type="text" placeholder="상품명 검색">
			</div>
			<div class="ad-content">
				<ul class="memberlist">
					<li>	
						<ul class="col">
							<li>코드</li>
							<li>이름</li>
							<li>가격</li>
							<li>기간</li>
							<li><button type="button" class="btn-add">상품추가</button></li>
						</ul>
					</li>
					
					<li>
						<ul class="col list">
							<li>T-1</li>
							<li>테마</li>
							<li>500원</li>
							<li>무제한</li>
							<li><button type="button" class="btn">수정</button> <button type="button" class="btn cancel">삭제</button> </li>
						</ul>
					</li>
				</ul>	
			</div> 
	</div>
</div>

<script>
$(loadedHandler);

function loadedHandler() {
	// 상품 추가 버튼
	$(".btn-add").on("click", itemAddHandler);
}
async function itemAddHandler(){
	const { value: formValues } = await Swal.fire({
		title: "<div style='font-size: var(--font2);'>상품 추가</div>",
		confirmButtonText:"추가",
		confirmButtonTextFont:"Binggrae",
		confirmButtonColor:"black",
		width:"390px",
		html: `
		<div class="item-add flex">
			<div class="add-info flex">
				<div>상품코드</div>
				<div><input type="text" id="item-code" name="item-code"></div>
			</div>
			<div class="add-info flex">
				<div>상품명</div>
				<div><input type="text" id="item-name" name="item-name"></div>
			</div>
			<div class="add-info flex">
				<div>상품가격(원)</div>
				<div><input type="number" min="0" id="item-price" name="item-price"></div>
			</div>
			<div class="add-info flex">
				<div>상품기간(일)</div>
				<div><input type="number" min="0" id="item-dur" name="item-dur"></div>
			</div>
		</div>
	  `,
	  focusConfirm: false,
	  preConfirm: () => {
		return [
			$("#item-code").val()
			, $("#item-name").val()
			, $("#item-price").val()
			, $("#item-dur").val()
	    ];
	  }
	});
	if(formValues[0].trim().length > 0
			&& formValues[1].trim().length > 0
			&& formValues[2].trim().length > 0) {
		$.ajax({
			url: contextPath + ""
		});
		Swal.fire({
			text: "상품 추가가 완료되었습니다.", 
			icon: "success"
		});
	}else{
		Swal.fire({
			text: "상품 기간을 제외한 항목은 필수 입력 사항입니다.", 
			icon: "error"
		});
	}
}
</script>

</body>
</html>