<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>결제취소</title>
<!-- reset.css -->
<link th:href="@{/css/common/reset.css}" rel="stylesheet" type="text/css">
<!-- 레이아웃 설정 -->
<link th:href="@{/css/common/core.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/admin/admin.css}" rel="stylesheet">
<link th:href="@{/css/admin/admin_cancel.css}" rel="stylesheet">

<!--제이쿼리  -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<div class="wrap-main">
	<div class="wrap-sidebar">
		<img th:src="@{/images/tripant_logo_text.png}" alt="로고">
		<div class="ad-menu"> 관리자메뉴</div>
		<div class="ad-member">회원관리</div>
		<div class="ad-menumember a"><a href="/admin/member">회원관리</a></div>
		<div class="ad-menumember b"><a href="/admin/mchart">회원통계</a></div>
		
		<div class="ad-board">게시글 관리</div>
		<div class="ad-menuboard a"><a href="/admin/board">전체게시글</a></div>
		<div class="ad-menuboard b"><a href="/admin/complain">신고 게시글 관리</a></div>
		<div class="ad-menuboard c"><a href="/admin/bchart">게시글 통계</a></div>
		
		<div class="ad-store">스토어 관리</div>
		<div class="ad-menustorea a"><a href="/admin/cancel">결제취소</a></div>
		<div class="ad-menustorea b"><a href="/admin/goods">상품관리</a></div>
	</div>
	
	<div class="wrap-body">
		<form action ="/logout" method="post">
			<div class="ad-header">
				<div class="ad-text">결제취소</div>
				<button type="submit" class="btn-logout">로그아웃</button>
			</div>
		</form>
			
			<div class="ad-search">
				<input class="search" type="text" placeholder="회원검색">
			</div>
			
			<div class="ad-content">
				<ul class="memberlist">
					<li>	
						<ul class="col">
							<li>닉네임</li>
							<li>이메일</li>
							<li>상품명</li>
							<li>구매일자</li>
							<li></li>
						</ul>
					</li>
					<li>
						<ul class="col list" th:each="map : ${list}">
							<li th:text="${map.MEM_NICK}"></li>
							<li th:text="${map.MEM_EMAIL}"></li>
							<li th:text="${map.ITEM_NAME}"></li>
							<li th:text="${map.BUY_DATE}"></li>
							<li>
								<button type="button" class="btn" value="결제취소">결제취소</button>
								<input type="hidden" th:value="${map.ITEM_CODE}">
							</li>
						</ul>
					</li>
				</ul>	
			</div> 
	</div>
</div>

<script>
$(loadedHandler);
function loadedHandler() {
	$(".btn").on("click", ClickHandler);
}

function ClickHandler(){
	$(this).addClass("done");  
	$(this).text('취소완료');
	$(this).prop('readonly', true); //취소완료 된 후 클릭해도 바뀌지않음.
	/* if($(this).text() == '결제취소'){
	}else{
		$(this).text('결제취소');
	} */
}
</script>
</body>
</html>