<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>신고게시글</title>
<!-- reset.css -->
<link th:href="@{/css/common/reset.css}" rel="stylesheet" type="text/css">
<!-- 레이아웃 설정 -->
<link th:href="@{/css/common/core.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/admin/admin.css}" rel="stylesheet">
<link th:href="@{/css/admin/admin_complain.css}" rel="stylesheet">
<!--제이쿼리  -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

<div class="wrap-main">
	<div class="wrap-sidebar">
		<img th:src="@{/images/tripant_logo_text.png}" alt="로고">
		<div class="ad-menu"> 관리자메뉴</div>
		<div class="ad-member">회원관리</div>
		<div class="ad-menumember a"><a href="/admin/member">회원관리</a></div>
		<div class="ad-menumember b"><a href="/admin/mchart">회원통계</a></div>
		
		<div class="ad-board">게시글 관리</div>
		<div class="ad-menuboard a"><a href="/admin/board">전체게시글</a></div>
		<div class="ad-menuboard b"><a href="/admin/complain">신고 게시글 관리</a></div>
		<div class="ad-menuboard c"><a href="/admin/bchart">게시글 통계</a></div>
		
		<div class="ad-store">스토어 관리</div>
		<div class="ad-menustorea a"><a href="/admin/cancel">결제취소</a></div>
		<div class="ad-menustorea b"><a href="/admin/goods">상품관리</a></div>
	</div>
	
	<div class="wrap-body">
		<form action ="/logout" method="post">
			<div class="ad-header">
				<div class="ad-text">신고게시글 관리</div>
				<button type="submit" class="btn-logout">로그아웃</button>
			</div>
		</form>
			<div class="ad-search">
				<input class="search" type="text" placeholder="신고글 검색">
			</div>
			<div class="ad-content">
				<ul class="boardlist">
					<li>	
						<ul class="col">
							<li>선택</li>
							<li>번호</li>
							<li>제목</li>
							<li>닉네임</li>
							<li>날짜</li>
							<li>신고수<button type="button" class="btn-reports">▼</button></li>
						</ul>
					</li>
					<li>
						<th:block th:each="complainBoard:${complainBoard}">
						<ul class="col list">
							<li><input type="checkbox" class="check" name="check"></li>
							<li th:text="${complainBoard.diaryId}"></li>
							<li th:text="${complainBoard.diaryTitle}"></li>
							<li th:text="${complainBoard.memNick}"></li>
							<li th:text="${complainBoard.diaryDate}"></li>
							<li th:text="${complainBoard.reports}"></li>
							<li></li>
						</ul>
						</th:block>
					</li>
				</ul>
				
			</div>
			<div><button type="button" class="btn-reset" disabled>초기화</button></div>
	</div>	
</div>

<script>
$(loadedHandler);
function loadedHandler(){
	$('input[name=check]').on('click',CheckSetHandler);
	$('.btn-reset').on('click',ClickSetHandler);
	
}
/* 체크표시가 되면 버튼 활성화 */
function CheckSetHandler(){
	$('input[name=check]').each(function(){
		if($(this).is(":checked")==true){
			$('.btn-reset').prop('disabled',false).css('background-color','black').css('color','white').css('border','solid black 1px');
		}else{
			$('.btn-reset').prop('disabled',true).css('background-color','white').css('color','black').css('border','solid black 1px');
		}
	})
}

/* 버튼 누르면 체크박스에 체크된 신고수 0으로 */
function ClickSetHandler(){
	let checkSet=$('input[name=check]:checked');
	$.ajax({
		url:"/admin/reset",
		 method:"post",
		 data: {reports:reports},
		 success : function(result) {
			 
				},
	 error : function(request, status, error) {
				alert("code: " + request.status + "\n"
						+ "message: " + request.responseText + "\n"
						+ "error: " + error);
			}
	});
} 

</script>
</body>
</html>