<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/header :: head('상품관리')}"></head>
<!-- css -->
<link th:href="@{/css/admin/admin.css}" rel="stylesheet">
<link th:href="@{/css/admin/admin_goods.css}" rel="stylesheet">
<body>
<div class="wrap-main">
	<div class="wrap-sidebar">
		<img th:src="@{/images/tripant_logo_text.png}" alt="로고">
		<div class="ad-menu"> 관리자메뉴</div>
		<div class="ad-member">회원관리</div>
		<div class="ad-menumember a"><a href="/admin/member">회원관리</a></div>
		<div class="ad-menumember b"><a href="/admin/mchart">회원통계</a></div>
		
		<div class="ad-board">게시글 관리</div>
		<div class="ad-menuboard a"><a href="/admin/board">전체게시글</a></div>
		<div class="ad-menuboard b"><a href="/admin/complain">신고 게시글 관리</a></div>
		<div class="ad-menuboard c"><a href="/admin/bchart">게시글 통계</a></div>
		
		<div class="ad-store">스토어 관리</div>
		<div class="ad-menustorea a"><a href="/admin/cancel">결제취소</a></div>
		<div class="ad-menustorea b"><a href="/admin/goods">상품관리</a></div>
	</div>
	<div class="wrap-body">
		<form action ="/logout" method="post">
			<div class="ad-header">
				<div class="ad-text">상품관리</div>
				<button type="submit" class="btn-logout">로그아웃</button>
			</div>
		</form>		
			<div class="ad-search">
				<input class="search" type="text"  name="search" placeholder="상품명 검색">
				<button type="button" class="btn-search"><img src="/images/icons/search.png" alt="검색"/></button>
			</div>
			<div class="ad-content">
				<ul class="memberlist">
					<li>	
						<ul class="col">
							<li>코드</li>
							<li>이름</li>
							<li>가격(원)</li>
							<li>기간(일)</li>
							<li>할인율(%)</li>
							<li><button type="button" class="btn insert">상품추가</button></li>
						</ul>
					</li>
					
					<li>
						<ul th:each="item : ${itemList}" class="col list" th:data-item-code="${item.ITEM_CODE}">
							<li th:text="${item.ITEM_CODE}" ></li>
							<li th:text="${item.ITEM_NAME}"></li>
							<li th:text="${item.ITEM_PRICE_CHAR}"></li>
							<li th:text="${item.ITEM_DUR}" th:if="${item.ITEM_DUR} != null"></li>
							<li th:if="${item.ITEM_DUR} == null"></li>
							<li th:text="${item.ITEM_SALE}" th:if="${item.ITEM_SALE} != null"></li>
							<li th:if="${item.ITEM_SALE} == null"></li>
							<li><button type="button" class="btn update">수정</button> <button type="button" class="btn delete">삭제</button> </li>
						</ul>
					</li>
				</ul>	
			</div> 
	</div>
</div>

<script>
$(loadedHandler);

function loadedHandler() {
	// 상품 추가 버튼
	$(".btn.insert").on("click", itemInsertHandler);
	
	// 상품 수정 버튼
	$(".btn.update").on("click", itemUpdateHandler);
	
	//상품삭제버튼
	$(".btn.delete").on("click", itemDeleteHandler);
}

// 상품 수정
async function itemUpdateHandler(){
	let itemCode = $(this).parents(".col.list").children("li:first-child").text();
	let itemName = "";
	let itemPrice = "";
	let itemDur = "";
	let itemSale = "";
	const itemInfo = await $.ajax({
		url: contextPath + "admin/goods/info", 
		type: "post", 
		data: {
			itemCode: itemCode
		}, 
	}).done(function(data){
		itemName = data.itemName, 
		itemPrice = data.itemPrice, 
		itemDur = data.itemDur, 
		itemSale = data.itemSale
		return 1;
	}).fail(ajaxErrorHandler);
	if(itemInfo){
		const { value: formValues } = await Swal.fire({
			title: "<div style='font-size: var(--font2);'>상품 수정</div>",
			confirmButtonText:"수정",
			confirmButtonTextFont:"Binggrae",
			confirmButtonColor:"black",
			width:"390px",
			html: `
			<div class="item-update flex">
				<div class="item-info flex">
					<div>상품코드</div>
					<div><input type="text" id="item-code" name="item-code" value="${itemCode}" readonly></div>
				</div>
				<div class="item-info flex">
					<div>상품명</div>
					<div><input type="text" id="item-name" name="item-name" value="${itemName}"></div>
				</div>
				<div class="item-info flex">
					<div>상품가격(원)</div>
					<div><input type="number" min="0" id="item-price" name="item-price" value="${itemPrice}"></div>
				</div>
				<div class="item-info flex">
					<div>상품기간(일)</div>
					<div><input type="number" min="0" id="item-dur" name="item-dur" value="${itemDur}"></div>
				</div>
				<div class="item-info flex">
					<div>상품할인율(%)</div>
					<div><input type="number" min="0" id="item-sale" name="item-sale" value="${itemSale}"></div>
				</div>
			</div>
		  `,
		  focusConfirm: false,
		  preConfirm: () => {
			return [
				$("#item-code").val()
				, $("#item-name").val()
				, $("#item-price").val()
				, $("#item-dur").val()
				, $("#item-sale").val()
		    ];
		  }
		});
		if(formValues[0].trim().length > 0
				&& formValues[1].trim().length > 0
				&& formValues[2].trim().length > 0) {
			$.ajax({
				url: contextPath + "admin/goods/update", 
				type: "post", 
				data: {
					itemCode: formValues[0], 
					itemName: formValues[1], 
					itemPrice: formValues[2], 
					itemDur: formValues[3], 
					itemSale: formValues[4], 
				}, 
				error: function(request, status, error){
					Swal.fire({
						title: "상품 수정 중 오류가 발생했습니다.", 
						text: "code: "+request.status + "\n" + "message: " 
						+ request.responseText + "\n"
						+ "error: "+error, 
						icon: "warning", 
						iconColor: "#000000"
					});
				}, 
				success: function(data){
					if(data > 0){
						Swal.fire({
							title: "상품 수정이 완료되었습니다.", 
							icon: "success", 
							iconColor: "#000000"
						}).then((swal) => {
							if(swal.isConfirmed){
								location.reload();
							}
						});
					}else{
						Swal.fire({
							title: "알 수 없는 이유로 상품 수정이 완료되지 않았습니다.", 
							icon: "question", 
							iconColor: "#000000"
						});
					}
				}
			});
		}else{
			Swal.fire({
				title: "상품코드, 상품명, 상품가격은 필수 입력 사항입니다.", 
				icon: "error"
			});
		}
	}
}

// 상품 추가
async function itemInsertHandler(){
	const { value: formValues } = await Swal.fire({
		title: "<div style='font-size: var(--font2);'>상품 추가</div>",
		confirmButtonText:"추가",
		confirmButtonTextFont:"Binggrae",
		confirmButtonColor:"black",
		width:"390px",
		html: `
		<div class="item-insert flex">
			<div class="item-info flex">
				<div>상품코드</div>
				<div><input type="text" id="item-code" name="item-code"></div>
			</div>
			<div class="item-info flex">
				<div>상품명</div>
				<div><input type="text" id="item-name" name="item-name"></div>
			</div>
			<div class="item-info flex">
				<div>상품가격(원)</div>
				<div><input type="number" min="0" id="item-price" name="item-price"></div>
			</div>
			<div class="item-info flex">
				<div>상품기간(일)</div>
				<div><input type="number" min="0" id="item-dur" name="item-dur"></div>
			</div>
			<div class="item-info flex">
				<div>상품할인율(%)</div>
				<div><input type="number" min="0" id="item-sale" name="item-sale"></div>
			</div>
		</div>
	  `,
	  focusConfirm: false,
	  preConfirm: () => {
		return [
			$("#item-code").val()
			, $("#item-name").val()
			, $("#item-price").val()
	    ];
	  }
	});
	if(formValues[0].trim().length > 0
			&& formValues[1].trim().length > 0
			&& formValues[2].trim().length > 0) {
		$.ajax({
			url: contextPath + "admin/goods/insert", 
			type: "post", 
			data: {
				itemCode: formValues[0], 
				itemName: formValues[1], 
				itemPrice: formValues[2], 
				itemDur: formValues[3], 
				itemSale: formValues[4], 
			}, 
			success: function(data){
				if(data > 0){
					Swal.fire({
						title: "상품 추가가 완료되었습니다.", 
						icon: "success"
					}).then((swal) => {
						if(swal.isConfirmed){
							location.reload();
						}
					});
				}else{
					Swal.fire({
						title: "알 수 없는 이유로 상품 추가가 완료되지 않았습니다.", 
						icon: "question"
					});
				}
			}, 
			error: function(request, status, error){
				Swal.fire({
					title: "상품 추가 중 오류가 발생했습니다.", 
					text: "code: "+request.status + "\n" + "message: " 
					+ request.responseText + "\n"
					+ "error: "+error, 
					icon: "warning"
				});
			}
		});
	}else{
		Swal.fire({
			title: "상품코드, 상품명, 상품가격은 필수 입력 사항입니다.", 
			icon: "error"
		});
	}
}

//상품삭제

function itemDeleteHandler(){
	var itemCode=$(this).parents('.col.list').data('item-code');
	console.log(itemCode);
	$.ajax({
		url:"/admin/goods/delete",
		method:"post",
		data: {itemCode:itemCode},
		success : function(result) {
			 		location.reload();
				},
	 	error : function(request, status, error) {
		 	if(request.responseText.indexOf('ORA-02292')){
		 		Swal.fire({
					title: "장바구니 혹은 구매내역에 존재하는 상품은 삭제할 수 없습니다.\n운영팀에 문의해주시기 바랍니다.", 
					icon: "error", 
					confirmButtonColor: "#000000", 
					confirmButtonText: "확인"
				});
		 	}else{
		 		Swal.fire({
		 			title: "알 수 없는 오류가 발생했습니다.\n관리자에게 문의해주시기 바랍니다.", 
		 			confirmButtonColor: "#000000", 
		 			confirmButtonText: "확인"
		 		});
	 		}
		}
	});
}

</script>

</body>
</html>