<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header :: head('회원통계')}"></head>
<link th:href="@{/css/admin/admin.css}" rel="stylesheet">
<link th:href="@{/css/admin/admin_mchart.css}" rel="stylesheet">
<!--chart.js CDN  -->
<!-- <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js}"  rel="stylesheet"> -->
<script th:src="@{https://fastly.jsdelivr.net/npm/chart.js}"></script>
<body>
<div class="wrap-main">
	<div class="wrap-sidebar">
		<img th:src="@{/images/tripant_logo_text.png}" alt="로고">
		<div class="ad-menu"> 관리자메뉴</div>
		<div class="ad-member">회원관리</div>
		<div class="ad-menumember a"><a th:href="@{/admin/member}">회원관리</a></div>
		<div class="ad-menumember b"><a th:href="@{/admin/mchart}">회원통계</a></div>
		
		<div class="ad-board">게시글 관리</div>
		<div class="ad-menuboard a"><a th:href="@{/admin/board}">전체게시글</a></div>
		<div class="ad-menuboard b"><a th:href="@{/admin/complain}">신고 게시글 관리</a></div>
		<div class="ad-menuboard c"><a th:href="@{/admin/bchart}">게시글 통계</a></div>
		
		<div class="ad-store">스토어 관리</div>
		<div class="ad-menustorea a"><a th:href="@{/admin/cancel}">결제취소</a></div>
		<div class="ad-menustorea b"><a th:href="@{/admin/goods}">상품관리</a></div>
	</div>
	
	<div class="wrap-body">
	<form th:action ="@{/logout}" method="post">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		<div class="ad-header">
			<div class="ad-text">회원통계</div>
			<button type="submit" class="btn logout"><h5>로그아웃</h5></button>
		</div>
		<canvas id="myChart2" ></canvas>
	</form>	
	</div>
	
</div>
			
<script type="text/javascript" th:src="@{/js/admin/member/member_chart.js}" ></script>
<script>
let count0 = "[[${chart0}]]";
let count1 = "[[${chart1}]]";
let count2 = "[[${chart2}]]";
let count3 = "[[${chart3}]]";
let count4 = "[[${chart4}]]";
let count5 = "[[${chart5}]]";

let plan0= "[[${plan0}]]";
let plan1= "[[${plan1}]]";
let plan2= "[[${plan2}]]";
let plan3= "[[${plan3}]]";
let plan4= "[[${plan4}]]";
let plan5= "[[${plan5}]]"; 
</script>
</body>
</html>