<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>boardlist</title>
<!-- reset.css -->
<link th:href="@{/css/common/reset.css}" rel="stylesheet" type="text/css">
<!-- 레이아웃 설정 -->
<link th:href="@{/css/common/core.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/admin/admin.css}" rel="stylesheet">
<link th:href="@{/css/admin/admin-board.css}" rel="stylesheet">
</head>
<body>
<div class="wrap-main">
	<div class="wrap-sidebar">
		<img th:src="@{/images/tripant_logo_text.png}" alt="로고">
		<div class="ad-menu"> 관리자메뉴</div>
		<div class="ad-member">회원관리</div>
		<div class="ad-menumember a">회원관리</div>
		<div class="ad-menumember b">회원통계</div>
		
		<div class="ad-board">게시글 관리</div>
		<div class="ad-menuboard a">전체게시글</div>
		<div class="ad-menuboard b">신고 게시글 관리</div>
		<div class="ad-menuboard c">게시글 통계</div>
		
		<div class="ad-store">스토어 관리</div>
		<div class="ad-menustorea">결제 취소</div>
	</div>
	
	<div class="wrap-body">
		<div class="ad-header">
			<div class="ad-text">게시글관리</div>
		</div>
		<div class="ad-search">
			<input class="search" type="text" placeholder="게시글검색">
		</div>
		<div class="ad-content">
			<ul class="boardlist">
				<li>	
					<ul class="col">
						<li>번호</li>
						<li>제목</li>
						<li>닉네임</li>
						<li>날짜</li>
						<li>조회수</li>
						<li>좋아요</li>
					</ul>
				</li>
			</ul>
		
		</div>
</body>
</html>