<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>게시글통계</title>
<!-- reset.css -->
<link th:href="@{/css/common/reset.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/common/core.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/admin/admin.css}" rel="stylesheet">
<link th:href="@{/css/admin/admin_bchart.css}" rel="stylesheet">
<!--chart.js CDN  -->
<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js}"  rel="stylesheet">
 <script th:src="@{https://fastly.jsdelivr.net/npm/chart.js}"></script>
 <!--제이쿼리  -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script> 
</head>

<body>
<div class="wrap-main">
	<div class="wrap-sidebar">
		<img th:src="@{/images/tripant_logo_text.png}" alt="로고">
		<div class="ad-menu"> 관리자메뉴</div>
		<div class="ad-member">회원관리</div>
		<div class="ad-menumember a"><a href="/admin/member">회원관리</a></div>
		<div class="ad-menumember b"><a href="/admin/mchart">회원통계</a></div>
		
		<div class="ad-board">게시글 관리</div>
		<div class="ad-menuboard a"><a href="/admin/board">전체게시글</a></div>
		<div class="ad-menuboard b"><a href="/admin/complain">신고 게시글 관리</a></div>
		<div class="ad-menuboard c"><a href="/admin/bchart">게시글 통계</a></div>
		
		<div class="ad-store">스토어 관리</div>
		<div class="ad-menustorea"><a href="/admin/cancel">결제 취소</a></div>
	</div>
	
	<div class="wrap-body">
		<div class="ad-header">
			<div class="ad-text">게시글통계</div>
		</div>
		<canvas id="myChart" style="height:90vh; width:80vw"></canvas>
	</div>
</div>		
		
<script th:line="javascript" th:src="@{/js/admin/board_chart.js}" ></script>
</body>
</html>