<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<div class="ad-search" th:fragment="member">
	<input class="search" type="text" name="search" placeholder="회원검색"> 
	<button type="button" class="btn-search"><img th:src="@{/images/icons/search.png}" alt="검색"/></button>
</div>
	
<div class="ad-content">
	<ul class="memberlist">
		<li>	
			<ul class="col">
				<li>닉네임</li>
				<li>이메일</li>
				<li>가입일자</li>
				<li>탈퇴일자</li>
				<li>등급</li>
				<li>활성화</li>
				<li></li>
			</ul>
		</li>
					
		<li id="list">
			<th:block th:each="memList:${memList}">
				<ul class="col list">
					<li th:text="${memList.memNick}"></li>
					<li th:text="${memList.memEmail}"></li>
					<li th:text="${memList.memJoinDate}"></li>
					<li th:text="${memList.memQuitDate}"></li>
					<li th:text="${memList.memRole}"></li>
					<li th:text="${memList.memEnabled}"></li>
					<li><button type="button" class="btn">편집</button></li>
				</ul>
			</th:block>
						
		</li>
	</ul>	
</div> 
	
	<div th:if="${memList}">
	<div th:if="${memList.totalCount > 0}">
		<div style="text-align: center;">
			<div class="paging_wrap">
				<div th:if="${memList.startPageNum > 1}" class="goprepage">
		            <button type="button" class="btn-gopage" th:data-targetpage="${memList.startPageNum - 1}">&lt;</button>
		        </div>
		        
		        <div th:each="page :  ${#numbers.sequence(memList.startPageNum, reviewDetailDto.endPageNum)}">
			        <div th:if="${reviewDetailDto.currentPage == page}" class="current_page">
			            <span th:text="${page}"></span>
			        </div>
			        <div th:if="${reviewDetailDto.currentPage != page}" class="gopage">
			            <button type="button" class="btn-gopage" th:data-targetpage="${page}" th:text="${page}"></button>
			        </div>
		        </div>
		        
		        <div th:if="${reviewDetailDto.endPageNum < reviewDetailDto.totalReviewCount}">
		            <button type="button" th:data-targetpage="${reviewDetailDto.endPageNum + 1}" class="btn-gopage">&gt;</button>
		        </div>			
			</div>
		</div>
	</div>
</div>

</html>