<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title th:text="${title}"></title>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<!-- reset.css -->
<link th:href="@{/css/common/reset.css}" rel="stylesheet" type="text/css">
<!-- 레이아웃 설정 -->
<link th:href="@{/css/common/core.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/common/layout.css}" rel="stylesheet" type="text/css">

<link th:href="@{/css/common/header.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/common/footer.css}" rel="stylesheet" type="text/css">

<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css">

<script th:line="javascript" th:src="@{/js/common/common_function.js}" ></script>
<script th:line="javascript">
	// 여기서 먼저 선언하고 그아래 script파일 추가하기.
	const contextPath = "[[@{/}]]";
	const token = $("meta[name='_csrf']").attr("content");
	const header = $("meta[name='_csrf_header']").attr("content");
	const name = $("#userName").val();
</script>
<style>
input[type=password]{
	font-family: sans-serif;
}
</style>
</head>
<body>
	<div th:fragment="wrap-header">
		<div class="wrap-head">
			<div>
				<header>
					<div class="tn">
						<!-- 최상단 네비(로고 및 회원가입, 로그인) -->
						<div class="nav1-wrap">
							<div class="logo-side">
								<a th:href="@{/}"> <img th:src="@{/images/tripant_logo_text.png}" alt="로고"></a>
							</div>
							<div class="log">
								<ul>
									<li>
										<a th:href="@{/my/home}" sec:authorize="isAuthenticated()">마이페이지</a>
									</li>
									<li>
										<a th:href="@{/trip/list}" sec:authorize="isAuthenticated()">나의 일정</a>

									</li>
									<li>
										<a th:href="@{/diary}" sec:authorize="isAuthenticated()">여행기</a>
										<a th:href="@{/diary}" sec:authorize="isAnonymous()">여행기</a>
									</li>
									<li>
										<a th:href="@{/store}">스토어</a>
									</li>
									<li>
										<a th:href="@{/login}" sec:authorize="isAnonymous()">로그인</a>
										<a th:href="@{/logout}" sec:authorize="isAuthenticated()">로그아웃</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</header>
			</div>
		</div>
	</div>
</body>
</html>