<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<!-- edit trip list -->
	<div th:fragment="edit-tourlist" class="edit-tourlist hide scrollbar flex">
		<div class="wrap-detaillist flex"> 
			<div th:each="details,daylist:${detailList}" class="column flex" th:data-columns="${daylist.count}" th:id="'#tab'+${daylist.count}">
				<div class="sub-title flex ">
					<h4 th:text="${daylist.count} + '일차'" class="nday"></h4>
					<h6 th:text="${details.travelDate}" class="date"></h6>
				</div>
			 	<div  class="container flex wfull">
			 		<div th:each="info,idxlist:${details.dayDetailInfoEntity}"  class="spot-block draggable"  draggable ="true">
					 	<div class="spot grid wfull" th:data-spot-order="${idxlist.count}"  th:data-stay-time="${info.stayTime}" th:data-info="${info}">
					 		<div class="spot-number backimg"><p th:text="${idxlist.count}"></p></div>
					 		<div class="spot-staytime">10:00-11:00</div>
					 		<div class="spot-type">명소</div>
					 		<div class="spot-title wfull" th:text="${info.title}"></div>
					 		<div class="spot-memo"><img class="img-memo" style="width: 20px;height:20px;" src="/images/icons/memoIcon.png" ><span th:text="${info.memo}" class="memo"></span></div>
					 		<div class="spot-img wfull hfull"><img class=" wfull hfull" th:src="${info.firstimage}" onerror="this.onerror=null; this.src='/images/icons/spot_sample.png';" ></div>
					 		<div class="spot-caricon"><img style="width:20px;height: 20px;" src="/images/icons/carIcon.png" /></div>
					 		<div class="spot-move"> 45분> </div>
					    </div>
				    </div>
			    </div> <!-- container  -->
			</div>	<!-- column -->
<!-- 		<div class="column flex w250 "  data-columns="1">
			<div class="sub-title flex ">
				<div class="nday">1일차</div>
				<div class="date">2024-06-01(토)</div>
			</div>
		 	<div class="container flex wfull">
			 	<div class="spot draggable"  draggable="true">
			        <div class=" spot-info">
			            <span class="ico-drag">1번</span>
			            <div class="el">
			            	<div class="spot-title">제주국제공항</div>
			            	<div class="spot-stay-time">10:00-11:00</div>
			            </div>
			        </div>
			    </div>
			 	<div class="spot wfull draggable"  draggable="true">
			 		<div class="move-time">10분</div>
			        <div class=" spot-info">
			            <span class="ico-drag">2번</span>
			            <div class="el">
			            	<div class="spot-title">금돈가 제주본점</div>
			            	<div class="spot-stay-time">12:00-13:00</div>
			            </div>
			        </div>
			    </div>
			 	<div class="spot wfull draggable" draggable="true">
			 		<div class="move-time">20분</div>
			        <div class=" spot-info" >
			            <span class="ico-drag">3번</span>
			            <div class="el">
			            	<div class="spot-title">김희선제주몸국</div>
			            	<div class="spot-stay-time">14:00-15:00</div>
			            </div>
			        </div>
			    </div>
		    </div> container 
		</div>	column
		
		<div class="column flex w250" data-columns="2">
			<div class="sub-title flex">
				<div class="nday">2일차</div>
				<div class="date">2024-06-01(토)</div>
			</div>
		    <div class="container flex">
			 	<div class="spot wfull">
			        <div class="draggable spot-info" draggable="true">
			            <span class="ico-drag">1번</span>
			            <div class="el">
			            	<div class="spot-title">제주국제공항2</div>
			            	<div class="spot-stay-time">10:00-11:00</div>
			            </div>
			        </div>
			    </div>
			 	<div class="spot wfull">
			 		<div class="move-time">10분</div>
			        <div class="draggable spot-info" draggable="true">
			            <span class="ico-drag">2번</span>
			            <div class="el">
			            	<div class="spot-title">금돈가 제주본점2</div>
			            	<div class="spot-stay-time">12:00-13:00</div>
			            </div>
			        </div>
			    </div>
			 	<div class="spot wfull">
			 		<div class="move-time">20분</div>
			        <div class="draggable spot-info" draggable="true">
			            <span class="ico-drag">3번</span>
			            <div class="el">
			            	<div class="spot-title">김희선제주몸국2</div>
			            	<div class="spot-stay-time">14:00-15:00</div>
			            </div>
			        </div>
			    </div>
		    </div> container 
		</div>	column
		<div class="column flex" data-columns="3">
			<div class="sub-title flex w250">
				<div class="nday">2일차</div>
				<div class="date">2024-06-01(토)</div>
			</div>
		    <div class="container flex">
			 	<div class="spot wfull">
			        <div class="draggable spot-info" draggable="true">
			            <span class="ico-drag">1번</span>
			            <div class="el">
			            	<div class="spot-title">제주국제공항2</div>
			            	<div class="spot-stay-time">10:00-11:00</div>
			            </div>
			        </div>
			    </div>
			 	<div class="spot wfull">
			 		<div class="move-time">10분</div>
			        <div class="draggable spot-info" draggable="true">
			            <span class="ico-drag">2번</span>
			            <div class="el">
			            	<div class="spot-title">금돈가 제주본점2</div>
			            	<div class="spot-stay-time">12:00-13:00</div>
			            </div>
			        </div>
			    </div>
			 	<div class="spot wfull">
			 		<div class="move-time">20분</div>
			        <div class="draggable spot-info" draggable="true">
			            <span class="ico-drag">3번</span>
			            <div class="el">
			            	<div class="spot-title">김희선제주몸국2</div>
			            	<div class="spot-stay-time">14:00-15:00</div>
			            </div>
			        </div>
			    </div>
		    </div> container 
		</div>	column -->
		
	</div> <!-- wrap-detaillist -->
	</div>
</html>