<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="spot-basket" class="spot-basket hide scrollbar flex ">
		<div class="flex a" >
			<h4>추가할 장소</h4>
			<button onclick="" id="add" class="btn">장소추가</button>
		</div>
		<div class="wrap-basket flex" > 
			

		</div> <!-- wrap-basket -->
	</div>	
	<!-- edit trip list -->
	<div th:fragment="edit-tourlist" class="edit-tourlist hide scrollbar flex">
		<div class="wrap-detaillist flex" > 

<!-- 	    미니 모달창 불필요해 보이는데
			<div class="mini-modal hide" > flex 설정
				<div class="show-detail">일정보기</div>
				<div class="share-plan modal">일행추가</div>
				<div class="delete-plan">삭제</div>
			</div> -->
		</div> <!-- wrap-detaillist -->
	</div>
</html>