<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

	<!-- tourlist -->
	<div th:fragment="tourlist" class="tourlist scrollbar flex">
		<div class="column flex" data-columns="1" id="#tab01">
			<div class="sub-title flex ">
				<div class="nday">1일차</div>
				<div class="date">2024-06-01(토)</div>
			</div>
		 	<div  class="container flex wfull">
			 	<div class="spot grid wfull">
			 		<div class="spot-number backimg"><p>1</p></div>
			 		<div class="spot-staytime">10:00-11:00</div>
			 		<div class="spot-type">명소</div>
			 		<div class="spot-title">제주국제공항</div>
			 		<div class="spot-memo"><img class="img-memo" style="width: 20px;height:20px;"  src="/images/icons/memoIcon.png"><span class="memo">모든 국민은 법률이 정하는 바에 의하여 국방의 의무를 진다. 법관은 헌법과 법률에 의하여 그 양심에 따라 독립하여 심판한다. 법관은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지 아니하며, 징계처분에 의하지 아니하고는 정직·감봉 기타 불리한 처분을 받지 아니한다. 대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다.</span></div>
			 		<div class="spot-img"><img src="https://placehold.co/70x70/000000/FFFFFF.png"></div>
			 		<div class="spot-caricon"><img style="width:20px;height: 20px;" src="/images/icons/carIcon.png" /></div>
			 		<div class="spot-move"> 45분> </div>
			    </div>
			 	<div class="spot grid wfull">
			 		<div class="spot-number backimg"><p>2</p></div>
			 		<div class="spot-staytime">12:00-13:00</div>
			 		<div class="spot-type">식당</div>
			 		<div class="spot-title">금돈가 제주본점</div>
			 		<div class="spot-img"><img src="https://placehold.co/70x70/000000/FFFFFF.png"></div>
			 		<div class="spot-caricon"><img style="width:20px;height: 20px;" src="/images/icons/carIcon.png" /></div>
			 		<div class="spot-move"> 60분> </div>
			    </div>
   			 	<div class="spot grid wfull">
			 		<div class="spot-number backimg"><p>3</p></div>
			 		<div class="spot-staytime">14:00-15:00</div>
			 		<div class="spot-type">식당</div>
			 		<div class="spot-title">김희선제주몸국</div>
			 		<div class="spot-img"><img src="https://placehold.co/70x70/000000/FFFFFF.png"></div>
			 		<div class="spot-caricon"><img style="width:20px;height: 20px;" src="/images/icons/carIcon.png" /></div>
			 		<div class="spot-move"> 45분> </div>
			    </div>
		    </div> <!-- container  -->
		</div>	<!-- column -->
		<div class="column flex " data-columns="2" id="#tab02">
			<div class="sub-title flex ">
				<div class="nday">2일차</div>
				<div class="date">2024-06-01(토)</div>
			</div>
		 	<div class="container flex wfull">
			 	<div class="spot grid wfull">
			 		<div class="spot-number backimg"><p>1</p></div>
			 		<div class="spot-staytime">10:00-11:00</div>
			 		<div class="spot-type">명소</div>
			 		<div class="spot-title">제주국제공항</div>
			 		<div class="spot-img"><img src="https://placehold.co/70x70/000000/FFFFFF.png"></div>
			 		<div class="spot-caricon"><img style="width:20px;height: 20px;" src="/images/icons/carIcon.png" /></div>
			 		<div class="spot-move"> 45분> </div>
			    </div>
			 	<div class="spot grid wfull">
			 		<div class="spot-number backimg"><p>2</p></div>
			 		<div class="spot-staytime">12:00-13:00</div>
			 		<div class="spot-type">식당</div>
			 		<div class="spot-title">금돈가 제주본점</div>
			 		<div class="spot-img"><img src="https://placehold.co/70x70/000000/FFFFFF.png"></div>
			 		<div class="spot-caricon"><img style="width:20px;height: 20px;" src="/images/icons/carIcon.png" /></div>
			 		<div class="spot-move"> 60분> </div>
			    </div>
   			 	<div class="spot grid wfull">
			 		<div class="spot-number backimg"><p>3</p></div>
			 		<div class="spot-staytime">14:00-15:00</div>
			 		<div class="spot-type">식당</div>
			 		<div class="spot-title">김희선제주몸국</div>
			 		<div class="spot-img"><img src="https://placehold.co/70x70/000000/FFFFFF.png"></div>
			 		<div class="spot-caricon"><img style="width:20px;height: 20px;" src="/images/icons/carIcon.png" /></div>
			 		<div class="spot-move"> 45분> </div>
			    </div>
		    </div> <!-- container  -->
		</div>	<!-- column -->
		<div class="column flex " data-columns="3" id="#tab03">
			<div class="sub-title flex ">
				<div class="nday">3일차</div>
				<div class="date">2024-06-01(토)</div>
			</div>
		 	<div class="container flex wfull">
			 	<div class="spot grid wfull">
			 		<div class="spot-number backimg"><p>1</p></div>
			 		<div class="spot-staytime">10:00-11:00</div>
			 		<div class="spot-type">명소</div>
			 		<div class="spot-title">제주국제공항</div>
			 		
			 		<div class="spot-img"><img src="https://placehold.co/70x70/000000/FFFFFF.png"></div>
			 		<div class="spot-caricon"><img style="width:20px;height: 20px;" src="/images/icons/carIcon.png" /></div>
			 		<div class="spot-move"> 45분> </div>
			    </div>
			 	<div class="spot grid wfull">
			 		<div class="spot-number backimg"><p>2</p></div>
			 		<div class="spot-staytime">12:00-13:00</div>
			 		<div class="spot-type">식당</div>
			 		<div class="spot-title">금돈가 제주본점</div>
			 		<div class="spot-img"><img src="https://placehold.co/70x70/000000/FFFFFF.png"></div>
			 		<div class="spot-caricon"><img style="width:20px;height: 20px;" src="/images/icons/carIcon.png" /></div>
			 		<div class="spot-move"> 60분> </div>
			    </div>
   			 	<div class="spot grid wfull">
			 		<div class="spot-number backimg"><p>3</p></div>
			 		<div class="spot-staytime">14:00-15:00</div>
			 		<div class="spot-type">식당</div>
			 		<div class="spot-title">김희선제주몸국</div>
			 		<div class="spot-img"><img src="https://placehold.co/70x70/000000/FFFFFF.png"></div>
			 		<div class="spot-caricon"><img style="width:20px;height: 20px;" src="/images/icons/carIcon.png" /></div>
			 		<div class="spot-move"> 45분> </div>
			    </div>
		    </div> <!-- container  -->
		</div>	<!-- column -->
	</div>

</html>