<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

 	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ee1c53ff7e4c7508a382a4c4e7af76e8"></script>
    <link rel="stylesheet" th:href="@{/css/trip/trip_layout.css}">
    <link rel="stylesheet" th:href="@{/css/trip/trip_nav.css}">
    <link rel="stylesheet" th:href="@{/css/trip/trip_schedule.css}">
    <link rel="stylesheet" th:href="@{/css/trip/trip_spot_info.css}">
    <link rel="stylesheet" th:href="@{/css/trip/tripMap.css}">
<head th:replace="~{common/header :: head('여행일정')}">
</head>
<body>
	<div class="main-wrapper">
		<aside class="nav-wrapper flex">
			<nav class="nav flex" >
				<a th:href="@{/}"><img class="logo" src="/images/tripant_logo_text.png"></a>
				<div class="dayn"><a href="#tab00">전체일정</a></div>
				<!-- 일정 수 만큼 each로 가져오기 th:block 묶음처리-->
				<th:block th:each="details,daylist:${detailList}">
				<div class="dayn"><a href="'#tab'+${daylist.count}">[[${daylist.count}]]일차</a></div>
				</th:block>
			</nav>
			<div class="plan_update flex">
				<button type="button" class="edit btn">편집</button>
				<button type="button" class="cancel btn" style="display: none;">취소</button>
				<button type="button" class="save btn" disabled = 'disabled' >저장</button>
			</div>
		</aside>
		<div class="schedule-wrapper flex">
			<div class="plan-info flex">
				<div class="plan-title">개미와 함꼐 떠나는 신나는 제주여행</div>
				<span class="plan-location">제주</span><span class="plan-priod">2024.06.01~2024.06.02</span>
			</div>
			<!-- 일자별 일정 리스트 -->
			<div class="list-box flex">
				<div th:replace="~{trip/trip_tourlist_fragment :: tourlist}"></div><!-- tourlist -->
				<div th:replace="~{trip/trip_edit_fragment :: edit-tourlist}" > </div>	<!-- edit-tourlist -->
			</div>
		    <!-- 더미 -->
		</div><!-- schedule-wrapper -->
		
		<div class="map-wrapper" >
		    <div id="map"></div>
		    <!-- 더미값 -->
		    <p><em>지도를 움직여 주세요!</em></p> 
		    <!-- 중심좌표  -->
			<p id="result"></p>
			<p><button onclick="setBounds()">지도 범위 재설정 하기</button></p>
			<form></form> 
			<div>x <input type="text" class="mapx"/></div>
			<div>y <input type="text" class="mapy"/></div>
			<div><button class="mapbtn">center</button></div>
			
			
		    <h1>카카오모빌리티 길찾기</h1>
		    <div id="duration" th:text="${duration}"><!-- th:text="${duration}/60" -->소요 시간: </div>
		    <form>
		        <label for="startLat" >출발지 위도:</label>
		        <input type="text" id="startLat" name="startLat" value="33.4871087881" required>
		        <label for="startLng">출발지 경도:</label>
		        <input type="text" id="startLng" name="startLng" value="126.4770524688" required>
		        <label for="endLat">도착지 위도:</label>
		        <input type="text" id="endLat" name="endLat" value="33.5020048041" required>
		        <label for="endLng">도착지 경도:</label>
		        <input type="text" id="endLng" name="endLng" value="126.5049024879" required>
		        <button type="button" class="test-btn">길찾기</button>
		    </form><!-- 더미값 -->
		</div>
	</div>
<script type="text/javascript" th:src="@{/js/trip/loadedHandler.js}"></script>
<script th:inline="javascript">
//n일차 버튼 생성
function ndayBtnHandler(){
	$('.column.flex').each(function(e){
		
		
	});
}

//동그라미 이미지 색 변경
function circleColorHandler(){

	var circleCss;
	$('.column.flex').each(function(e){  //e : element
		//현재 고른 	$('.column.flex') 각각에 아래 함수를 적용
		//현재 고른 $('.column.flex')것에 적용해야하니 this사용! $('.column.flex')를 사용하면 무조건 첫번째 태그만 가져옴 this의 중요성!!!
		circleCss = $(this).data('columns'); //type이 number이므로 case에 값 넣을 때 작은따옴표 X
		switch(circleCss){
		case 1:
			$(this).children().find('.backimg').css('background-image',"url('/images/loacation/circle1_red.png')");
			break;
		case 2:
			$(this).children().find('.backimg').css('background-image',"url('/images/loacation/circle2_purple.png')");
			break;
		case 3:
			$(this).children().find('.backimg').css('background-image',"url('/images/loacation/circle3_pink.png')");
			break;
		case 4:
			$(this).children().find('.backimg').css('background-image',"url('/images/loacation/circle4_orange.png')");
			break;
		case 5:
			$(this).children().find('.backimg').css('background-image',"url('/images/loacation/circle5_skyblue.png')");
			break;
		case 6:
			$(this).children().find('.backimg').css('background-image',"url('/images/loacation/circle6_yellow.png')");
			break;
		case 7:
			$(this).children().find('.backimg').css('background-image',"url('/images/loacation/circle1_red.png')");
			break;
		case 8:
			$(this).children().find('.backimg').css('background-image',"url('/images/loacation/circle1_red.png')");
			break;
		case 9:
			$(this).children().find('.backimg').css('background-image',"url('/images/loacation/circle1_red.png')");
			break;
		case 10:
			$(this).children().find('.backimg').css('background-image',"url('/images/loacation/circle10_navy.png')");
			break;
		default:
			console.log($(this).children().find('.backimg'));
			console.log('>>>>>backimg 실패 확인해보세요');
		}
	});
}


//드래그 앤 드랍
function dragAndDrop(){
    const draggables = $('.draggable');
    const containers = $('.container');

    draggables.each(function() {
        $(this).on('dragstart', function() {
            $(this).addClass('dragging');
        });

        $(this).on('dragend', function() {
            $(this).removeClass('dragging');
        });
    });

    function getDragAfterElement(container, y) {
        const draggableElements = $(container).find('.draggable').not('.dragging').toArray();

        return draggableElements.reduce((closest, child) => {
            const box = child.getBoundingClientRect();
            const offset = y - box.top - box.height / 2;
            if (offset < 0 && offset > closest.offset) {
                return { offset: offset, element: child };
            } else {
                return closest;
            }
        }, { offset: Number.NEGATIVE_INFINITY }).element;
    }

    containers.each(function() {
        $(this).on('dragover', function(e) {
    	//드래그 앤 드랍 시 동그라미 색깔, 순서, 
            e.preventDefault();
            const afterElement = getDragAfterElement(this, e.originalEvent.clientY);
            const draggable = $('.dragging')[0];
            if (afterElement == null) {
                $(this).append(draggable);
            } else {
                $(draggable).insertBefore(afterElement);
            }
        });
    });
}
//드래그앤드랍 end
//이동시간 가져오기
function durationHandler(){
	var startLat = $(this).parent().find("#startLat").val();
	var startLng = $(this).parent().find("#startLng").val();
	var endLat = $(this).parent().find("#endLat").val();
	var endLng = $(this).parent().find("#endLng").val();
	
	$.ajax({
		type : "post",
		url : contextPath+"trip/edit/duration",
		data : {startLat : startLat, startLng : sartLng, endLat : endLat, endLng : endLng },
		error : function (request, status, error){
			alert("code: "+request.status + "\n" + "message: " 
					+ request.responseText + "\n"
					+ "error: "+error);
		},
		success : function(duration) {
			var duration = Math.ceil(duration/60);
			 $("#duration").replaceWith(duration);
		}
	});
}

/*--------------MAP-----------------------------------------------------------------------*/

/* map ^ */
 
/* memo장 표시 */ 
function memoHandler(){
	$(this).siblings('.memo').css('opacity','1');
}
function memoNoHandler(){
	$(this).siblings('.memo').css('opacity','0');
}
</script>

<script th:inline="javascript" th:src="@{/js/trip/time.js}"></script>
<script type="text/javascript" th:src="@{/js/trip/tripMap.js}"></script>
<script type="text/javascript" th:src="@{/js/trip/nav_btn.js}"></script>
</body>
</html>