<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/plan/main/home.css}" rel="stylesheet" type="text/css">
<head th:replace="~{common/header :: head('home')}">
</head>
<body>
	<div class="header" th:insert="~{common/header :: wrap-header}"></div>
	<div class="wrap-body">
		<div class="wrap-make">
			<div class="make_text">
				<p>기존에 경험하지 못한 새로운</p>
				<p>개미의 여행</p>
			</div>
			<div class="make_plan">
				<p>일정을 생성해볼까요?</p>
			</div>
		</div>
		<div class="wrap-example"></div>
		<div class="wrap-area"></div>





	</div>
	<div class="footer" th:insert="~{common/footer :: wrap-footer}"></div>
</body>
</html>