<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/plan/main/home_make.css}" rel="stylesheet"
	type="text/css">
<head th:replace="~{common/header :: head('home')}">
</head>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<body>
	<div class="header" th:insert="~{common/header :: wrap-header}"></div>
	<div class="wrap-body">
		<ul class="wrap-make">
			<li class="make-left">
				<div class="make_text" style="font-size: var(--font1); font-weight: bolder;">
					<p>기존에 경험하지 못한 새로운</p>
					<p>개미의 여행</p>
				</div>
				<ul class="make-plan" style="font-size: var(--font3);  font-weight: bolder;">
					<li><p style="margin: 20px 20px 0 0 ;">일정을 생성해볼까요?</p></li>
					<li><button type="button">일정 만들기</button></li>
				</ul>
			</li>
			<li class="make-img">
				<img th:src="@{/images/area/SEOUL.jpg}" alt="로고">
				<div class="make-info">
					<p style="font-size: var(--font5);"> 생성된 일정 수 </p>
					<p style="font-size: var(--font3);" th:text="${planCount}"></p>
					<p style="font-size: var(--font5);"> 여행자 수 </p>
					<p style="font-size: var(--font3);" th:text="${memCount}"></p>
				</div>
			</li>
		</ul>
		<div class="wrap-example"></div>
		<div class="wrap-area"></div>





	</div>
	<div class="footer" th:insert="~{common/footer :: wrap-footer}"></div>
</body>
</html>