@charset "UTF-8";

/* 제목 & 기간 스타일 */
.tab-content #tab01 .plan-title {
	font-size: var(--font2);
	font-weight: bold;
	margin-top: 20px;
}

.tab-content #tab01 .plan-location {
	font-size: var(--font2);
	margin-bottom: 20px;
	margin-top: 20px;
}

.tab-content #tab01 h4 {
	margin-bottom: 20px;
}

.tab-content #tab01 .plan-timeEx{
	font-size: var(--font4);
	margin-bottom: 30px;
}

/* 기간 선택 */
.tab-content .wrap-priod  img {
	width: 15px;
	height: 15px;
}

.tab-content .wrap-priod .plan-priod {
	cursor: pointer;
	float: left;
	text-align: center;
	margin-right: 5px;
}

/* 시간 선택 */
.tab-content .wrap-time ul li {
	display: grid;
	grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
	margin-bottom: 5px;
}

.tab-content .wrap-time ul li div {
	padding: 5px;
	
	width: auto;
	display: grid;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.tab-content .wrap-time .time-h {
	border: 1px solid black;
}