@charset "UTF-8";
header{
	height: 55px;
}

header .tn {
    /* 자식들의 기준점 */
    position: relative;
}

header .logo-side {
    padding-top: 15px;
}

header .tn .log {
    /* 로그인 오른쪽 고정 */
    font-size: 15px;
    position: absolute;
    top: 23px;
    right: 0;
}

header .log li {
    /* 로그인 정렬 */
    display: inline-block;
    text-align: center;
    margin: 0 15px 0 15px;
}

header .log a {
    /* 로그인 폰트 세팅 */
    font-family: "Binggrae";
    font-size: var(--font4);
    font-weight: bold;
    padding-top: 5px;
}