<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/mypage/home.css}" rel="stylesheet" type="text/css">
<head th:replace="~{common/header :: head('마이페이지')}"></head>
<script>
$(loadedHandler);
function loadedHandler(){
	//버튼 호버 css
	$('.btn').hover(function(){
		$(this).css('background-color', 'black');
		$(this).css('color', 'white');
	}, function(){
		$(this).css('background-color', 'lightgrey');
		$(this).css('color', 'black');
	});
	//닉네임 변경 페이지로 이동
	$('.btn.chNick').on('click', function(){
		location.href = '/my/nick';
	});
	//비밀번호 변경 페이지로 이동
	$('.btn.chPwd').on('click', function(){
		location.href = '/my/pwd';
	});
}
</script>
<body>
	<header class="header" th:replace="~{common/header :: wrap-header}"></header>
	<div class="wrap-main">
		<div class="flex mypage">
			<div class="title">마이페이지</div>
			<div class="myInfo email flex">이메일&nbsp;&nbsp;:<input type="text" name="memEmail" th:value="${memEmail}" readonly></div>
			<div class="myInfo nick flex">닉네임&nbsp;&nbsp;:<input type="text" name="memNick" th:value="${memNick}" readonly></div>
			<div class="ch nick"><button type="button" class="btn chNick">닉네임 변경</button></div>
			<div class="ch pwd"><button type="button" class="btn chPwd">비밀번호 변경</button></div>
			<div class="unlink kakao flex"><img th:src="@{/images/member/login_kakao.png}" style="width: 34px; height: 34px;"><a th:href="@{/my/quit}">연동 해제</a></div>
			<div class="unlink naver flex"><img th:src="@{/images/member/login_naver.png}" style="width: 34px; height: 34px;"><a th:href="@{/my/quit}">연동 해제</a></div>
			<div class="unlink google flex"><img th:src="@{/images/member/login_google.png}" style="width: 34px; height: 34px;"><a th:href="@{/my/quit}">연동 해제</a></div>
			<div class="quit"><a th:href="@{/my/quit}">회원 탈퇴</a></div>
		</div>
	</div>
	<footer class="footer" th:insert="~{common/footer :: wrap-footer}"></footer>
</body>
</html>