<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header :: head('마이페이지')}"></head>
<link th:href="@{/css/mypage/home.css}" rel="stylesheet" type="text/css">
<script th:src="@{/js/mypage/home/loadedHandler.js}" type="text/javascript"></script>
<body>
	<header class="header" th:replace="~{common/header :: wrap-header}"></header>
	<div class="wrap-main">
		<div class="flex mypage">
			<div class="title">마이페이지</div>
			<div class="myInfo total">
				<div class="myInfo email flex">
					<div class="myInfo email">이메일 :</div>
					<div><input type="text" name="memEmail" th:value="${memEmail}" readonly></div>
				</div>
				<div class="myInfo nick flex">
					<div class="myInfo nick">닉네임 :</div>
					<div><input type="text" name="memNick" th:value="${memNick}" readonly></div>
				</div>
			</div>
			<div class="ch nick"><button type="button" class="btn chNick">닉네임 변경</button></div>
			<div class="ch pwd"><button type="button" class="btn chPwd">비밀번호 변경</button></div>
			
			<div class="unlink kakao flex" th:if="${isKakao} == 4"><img th:src="@{/images/member/login_kakao.png}" style="width: 34px; height: 34px;"><a th:href="@{/my/quit}">연동 해제</a></div>
			<div class="unlink naver flex" th:if="${isNaver} == 2"><img th:src="@{/images/member/login_naver.png}" style="width: 34px; height: 34px;"><a th:href="@{/my/quit}">연동 해제</a></div>
			<div class="unlink google flex" th:if="${isGoogle} == 1"><img th:src="@{/images/member/login_google.png}" style="width: 34px; height: 34px; background-color: white;"><a th:href="@{/my/quit}">연동 해제</a></div>
			<div class="quit"><a th:href="@{/my/quit}">회원 탈퇴</a></div>
		</div>
	</div>
	<footer class="footer" th:insert="~{common/footer :: wrap-footer}"></footer>
</body>
</html>