@charset "UTF-8";
*{font-family: 'GangwonEdu_OTFBoldA';}
.main-wrapper{
	width: 100%;
	height:100vh;
	display: flex;
    flex-direction: row;
}
.main-wrapper .btn,
.main-wrapper a{
	cursor: pointer;
}
.main-wrapper .wfull{
	width:100%;
}
/* 버튼 nav */
.main-wrapper .nav-wrapper{
	display : flex;
 	flex-direction : column;
	justify-content: space-between; 
	width: 100px;
	padding : 15px 5px;
	 border-right: 1px solid var(--color_light_gray);
	
}
.main-wrapper .logo{
	margin : 5px 5px 20px 5px;
	width: 80px;
}
.main-wrapper .plan_update,
.main-wrapper .nav{
	display: flex;
	align-items: center;
    flex-direction: column;
}
.main-wrapper .nav-wrapper .nav .dayn{
      box-shadow: 0 2px 8px 0 rgba(31, 38, 135, .08) !important;
      height : 40px;
}
/* .main-wrapper .nav-wrapper .nav .dayn:active{
      background-color: #08D57F;
} */

.main-wrapper .nav-wrapper .btn{
	width:80%;
	height : 50px;
	margin : 5px;
 	font-size:15px;
 	border : none;
    background-color: #fafafa;
    border-radius: 10px;
}
.main-wrapper .nav-wrapper .plan_update .btn{
	border : solid black 1px;
}

/* 일정 */
.main-wrapper .schedule-wrapper{
	display:flex;
	flex-direction:column;
	height:100%;
	width: 30%;
	padding : 30px 30px;
}
.main-wrapper .schedule-wrapper .plan-title{
	font-size: var(--font2);
	margin: 30px 0 10px 0 ;
}
.main-wrapper .schedule-wrapper .plan-location{
	margin-right : 15px;
	font-size:var(--font3);
} 
.main-wrapper .schedule-wrapper .list-box{
	height: 100%;
	padding:10px;
}
/* common (tourlist,edittourlist)*/
.main-wrapper .schedule-wrapper .list-box .tourlist,
.main-wrapper .schedule-wrapper .list-box .edit-tourlist{
	display: flex;
	/* height: 100%; */
}

.main-wrapper .schedule-wrapper .list-box .column{
	display: flex;
	flex-direction: column;
	width: 275px;
	padding: 0 8px;
}
.main-wrapper .column .sub-title{
	display: flex;
	justify-content: space-between;
	margin:10px 0;
}
.main-wrapper .sub-title .nday{
	font-size: var(--font4);
}
.main-wrapper .sub-title .date{
	font-size: var(--font6);
	color: var(--color_gray);
}
/* edit part */
.main-wrapper .edit-tourlist .column .container{
	display: flex;
	flex-direction: column;	
	background-color: #F7F8F9;
	border-radius: 8px;
	padding:0 5px;
}
.main-wrapper .edit-tourlist .column .container .spot-info{
	background-color: #fff;
	border-radius: 8px;
	width:80%;
	height:50px;
}
/* edit part */
/* 지도 */
.main-wrapper .map-wrapper{
	width: 70%;
}
.main-wrapper #map{width:100%;height:100%;}

/* 마커 위에 순서 표시 */
.main-wrapper .custom-marker span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    color: white;
    font-weight: bold;
    font-size: 17px; }