@charset "UTF-8";

/* 지도 크기 세팅 */
.main-wrapper .map-wrapper {
	width: 75%;
}

/* 내용 부분 크기 세팅 */
.main-wrapper .tab-content {
	flex-direction: column;
	width: 25%;
	padding: 0px 30px;
}


.main-wrapper .tab-content #tab01 div {
	flex-direction: column;
	font-family: 'GangwonEdu_OTFBoldA';
}

.main-wrapper .tab-content .plan-title {
	font-size: var(--font2);
	margin: 30px 0 10px 0;
}

.main-wrapper .tab-content span {
	margin-bottom: 10px;
	font-size: var(--font3);
}

