@charset "UTF-8";


/* 일정 */
.main-wrapper .schedule-wrapper {
	flex-direction: column;
	width: 30%;
	padding: 0px 30px;
}

.main-wrapper .schedule-wrapper .plan-info {
	flex-direction: column;
}

.main-wrapper .schedule-wrapper .plan-title {
	font-size: var(--font2);
	margin: 30px 0 10px 0;
}

.main-wrapper .schedule-wrapper .plan-location {
	margin-right: 15px;
	font-size: var(--font3);
}
