@charset "UTF-8";

/* 지도 크기 세팅 */
.main-wrapper .map-wrapper {
	width: 80%;
}

/* 내용 부분 크기 세팅 */
.main-wrapper .tab-content {
	flex-direction: column;
	width: 20%;
	padding: 0px 30px;
}

.main-wrapper .tab-content #tab01 div {
	flex-direction: column;
	font-family: 'Binggrae';
}

.main-wrapper .tab-content  #tab01 .plan-title {
	font-size: var(--font2);
	font-weight: bold;
	margin-top: 20px;
}

.main-wrapper .tab-content .plan-location {
	font-size: var(--font2);
	margin-bottom: 20px;
	margin-top: 20px;
}

.main-wrapper .tab-content h4 {
	
	margin-bottom: 20px;
}

.main-wrapper .tab-content  img {
	width: 15px;
	height: 15px;
}

.main-wrapper .tab-content .wrap-priod .plan-priod {
	float: left;
	text-align: center;
	margin-right: 5px;
}