<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <link th:href="@{/css/login/join.css}" rel="stylesheet" type="text/css"> -->
<head th:replace="~{common/header :: head('회원가입')}"></head>
<style>
	.wrap-main{
		width: 960px;
		margin: 120px auto;
	}
	.wrap-main *{
		font-family: 'GangwonEdu_OTFBoldA';
	}
	.wrap-main .btn{
		cursor: pointer;
	}
	.wrap-main .flex{
		display: flex;
	}
	.wrap-main .flex.center{
		justify-content: center;
	}
	.wrap-main .flex.input{
		width: 100%;
	}
	.wrap-main .flex.join{
		width: 340px;
		margin: 0 auto;
		flex-direction: column;
		row-gap: 20px;
		padding: 15px;
		background-color: #f6f6f6;
	}
</style>
<script>
$(loadedHandler);
function loadedHandler(){
	$(".btn.join").on("click", insertMemHandler);
}
</script>
<body>
	<div class="header" th:insert="~{common/header :: wrap-header}"></div>
	<div class="wrap-main">
		<form id="frm-join">
			<section class="flex join">
				<div class="join title"><h1>회원가입</h1></div>
				<div class="join explain"><h4>회원가입을 위한 정보를 입력해주세요.</h4></div>
				<div th:replace="~{login/fragment :: inputbtn(이메일, email, email, '이메일 주소', 인증)}"></div>
				<div><h4 style="color: red;">* 이메일을 입력해주세요.</h4></div>
				<div th:replace="~{login/fragment :: inputbtn('이메일 인증번호', code, text, '', 확인)}"></div>
				<div th:replace="~{login/fragment :: inputbtn(닉네임, nick, text, '한글 2~8자', 중복확인)}"></div>
				<div th:replace="~{login/fragment :: inputlbl(비밀번호, password, password)}"></div>
				<div><h1>트립앤트 회원 약관 동의</h1></div>
				<div class="flex agree">
					<input type="checkbox" name="agree" id="agree-all"><h4>전체 동의</h4>
				</div>
				<div class="flex agree">
					<input type="checkbox" name="agree" id="agree-first"><h4>동의</h4>
				</div>
				<div><textarea>약관입니다111111111</textarea></div>
				<div class="flex agree">
					<input type="checkbox" name="agree" id="agree-second"><h4>동의</h4>
				</div>
				<div><textarea>약관입니다222222222</textarea></div>
				<div class="recaptcha" style="background-color: lightgrey;">로봇?</div>
				<div><button type="submit" class="btn join">회원가입</button></div>
				<div><h4><a href="#">로그인 화면가기</a></h4></div>
			</section>
		</form>
	</div>
	<div class="footer" th:insert="~{common/footer :: wrap-footer}"></div>
</body>
<script>
function insertMemHandler(){
	console.log($("#frm-join").serialize());
	$.ajax({
		url: '/join', 
		type: 'POST', 
		data: $('#frm-join').serialize(), 
		success: function (result){
			alert('성공');
		}, 
		error: function (request, status, error){
			alert("code: "+request.status + "\n" + "message: " 
					+ request.responseText + "\n"
					+ "error: "+error);
		}
	});
}
</script>
</html>